@()(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Analysis") {
    <div class="row ">
        <div class="header-container">
            <h2 style="margin-top: 10px;">Recommendation</h2>
            <p>Sub Heading</p>
        </div>
    </div>

    <input value="@helper.CSRF.getToken.value" id="csrfToken" hidden/>

    <div class="row">

        @*<div class="col-md-12 category-page-message" style="margin-top: 20px;">
        <div id="success-message" class=" alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">
        x</a>
        <p id="display-success-message"></p>
        </div>
        <div id="failure-message" class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">
        x</a>
        <p id="display-failure-message"></p>
        </div>
        </div>
        *@
        <div class="col-md-12 filter-padding-left filter-padding-right" style="margin-top: 20px;">
            <label class="col-md-2 filter-padding-left" style="font-weight: normal">
                Sort By
                <select name="Show" id="sort-entries" class="search-text" style="background-color:#FFFFFF;padding-right:2px !important; ">
                    <option value="latest" selected>Submission Date</option>
                    <option value="recent">Updated Date</option>
                </select>
            </label>
            <div class="col-md-5"></div>
            <div class="col-md-1 filter-padding-right" style="width: fit-content">
                <label class="checkbox-outer" style="font-weight: normal;">
                    <input type='radio' name='user-recommend-filter' checked class='custom-checkbox' value='all'/>

                    <span class="filter-label_text"></span>
                    <p class="filter-checkbox-text">All</p>
                </label>
            </div>
            <div class="col-md-1" style="padding-left: 20px !important;">
                <label class="checkbox-outer" style="font-weight: normal;">
                    <input type='radio' name='user-recommend-filter' class='custom-checkbox' value='approved'/>

                    <span class="filter-label_text"></span>
                    <p class="filter-checkbox-text">Approved</p>
                </label>
            </div>
            <div class="col-md-1" style="padding-left: 40px !important;">
                <label class="checkbox-outer" style="font-weight: normal;">
                    <input type='radio' name='user-recommend-filter' class='custom-checkbox' value='decline'/>

                    <span class="filter-label_text"></span>
                    <p class="filter-checkbox-text">Decline</p>
                </label>
            </div>
            <div class="col-md-1" style="padding-left: 45px !important;">
                <label class="checkbox-outer" style="font-weight: normal;">
                    <input type='radio' name='user-recommend-filter' class='custom-checkbox' value='pending'/>

                    <span class="filter-label_text"></span>
                    <p class="filter-checkbox-text">Pending</p>
                </label>
            </div>
            <div class="col-md-1 filter-padding-right" style="padding-left: 55px !important;">
                <label class="checkbox-outer" style="font-weight: normal;">
                    <input type='radio' name='user-recommend-filter' id="pp" class='custom-checkbox' value='done'/>

                    <span class="filter-label_text" id="aa" ></span>
                    <p class="filter-checkbox-text">Done</p>
                </label>
            </div>
        </div>

        <div class="col-md-12">
            <div data-bind="foreach: recommendation">
                <div class="col-md-3 filter-padding-left" style="margin-bottom: 25px;">
                    <div class="col-md-12">
                        <div class="feedback-response-sessions custom-position">
                            @if(SessionHelper.isAdmin) {
                                <div data-bind="if: isLoggedIn">
                                    <div class="col-md-12 recommendation-card-topic">
                                        <div class="recommendation-dropdown dropdown" style="float: right;">
                                            <i class="fa fa-ellipsis-v"></i>
                                            <div class="dropdown-content">
                                                <span data-bind="click: pending ? null: function($id) { $root.pendingByAdmin(id)}">
                                                    Pending</span>
                                                <span data-bind="click: done ? null: function($id) { $root.doneByAdmin(id)}">
                                                    Done</span>
                                                <span data-bind="click: approved ? null: function($id) { $root.approveByAdmin(id)}">
                                                    Approved</span>
                                                <span data-bind="click: decline ? null: function($id) { $root.declineByAdmin(id)}">
                                                    Decline</span>
                                            </div>
                                        </div>
                                        <p class="recommendation-presenter" data-bind="text: email"></p>
                                        <p class="recommendation-presenter" data-bind="text : submissionDate"></p>
                                    </div>
                                </div>
                            }
                            <table class="col-md-12">
                                <tbody>
                                    <tr style="background-color: white">
                                        <td class="recommendation-vote">
                                            <div >
                                                <span class="recommendation-up" data-bind="style:{color: upVote?'green':'back'}, click: isLoggedIn ? function($id){ $root.upVoteByUser(id)}:null"></span>
                                                <span data-bind="text: votes" style="text-align: center;
                                                    width: 20px;"></span>
                                                <span class="recommendation-down" data-bind="style:{color: downVote ?'green':'black'}, click: isLoggedIn ? function($id) { $root.downVoteByUser(id)}:null"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="recommendation-content" data-bind="text: recommendation">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="recommendation-label" data-bind="if: pending">
                                <span class="label label-warning custom-label-type">
                                    Pending
                                </span>
                            </div>
                            <div class="recommendation-label" data-bind="if: done" style="left: 84% !important;">
                                <span class="label label-success custom-label-type">
                                    Done
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="empty-reports" data-bind="if: (recommendation().length) == 0">
            <i class="fa fa-folder-open" aria-hidden="true"></i>
            <p class="empty-reports_text">No Recommendations found!</p>
        </div>
    </div>

    <a class="add-recommend" data-toggle="popover" data-container="body" data-placement="left" type="button" title="Add Recommendation" data-html="true" href="#" id="add-button">
        <i class="fa fa-plus fa-plus-content" aria-hidden="true"></i>
    </a>

    <div class="textbox-recommend hide" id="add-recommend">
        <textarea id="recommend-text" class="textbox-recommend-main" minlength="10" maxlength="140" rows="6" cols="10"></textarea>
        <a class="btn btn-success" id="add-recommend-button">Add</a>
    </div>
    <script src="@routes.Assets.versioned("javascripts/recommendation.js")" type="text/javascript"></script>
}
