@()(implicit request: Request[_], messages: Messages, flash: Flash)

@main("User Knolx Analysis") {

    <div class="row ">
        <div class="header-container">
            <h2 style="margin-top: 10px;">Knolx User Analysis</h2>
        </div>
    </div>
    <input value="@helper.CSRF.getToken.value" id="csrfToken" hidden/>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-3 filter-padding-left user-analytics-table-div">
            <div class="col-md-12 text-center">
                <input class="user-analytics-input" placeholder="Search User" autocomplete="off" name="email" id="search-user" />
            </div>
            <div class="col-md-12 user-analytics-table">
                <table class="table table-responsive table-bordered">
                    <tbody data-bind="foreach: emailList">
                        <tr> <td data-bind="text: $data , value: $data, click: $parent.userDataHandler" style="cursor: pointer"></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-9 filter-padding-right" id="user-analytics">
            <div class="col-md-12 user-title" data-bind="text: email"></div>
            <div class="col-md-12">
                    <!-- Ban count -->
                <div class="col-md-3 filter-padding-left">
                    <div class="user-analytics-ibox">
                        <div class="user-analytics-title">
                            <h5>Ban Count</h5>
                        </div>
                        <div class="user-analytics-content">
                            <h3 class="no-margins" data-bind="text: banCount"></h3>
                        </div>
                    </div>
                </div>
                    <!-- Did not attend count -->
                <div class="col-md-3 filter-padding-left">
                    <div class="user-analytics-ibox">
                        <div class="user-analytics-title">
                            <h5>Sessions Didn't Attend</h5>
                        </div>
                        <div class="user-analytics-content">
                            <h3 class="no-margins" data-bind="text: sessionNotAttend" ></h3>
                        </div>
                    </div>
                </div>


                    <!-- Total knolx -->
                <div class="col-md-3 filter-padding-left">
                    <div class="user-analytics-ibox">
                        <div class="user-analytics-title">
                            <h5>Knolx</h5>
                        </div>
                        <div class="user-analytics-content">
                            <h3 class="no-margins" data-bind="text: totalKnolx"></h3>
                        </div>
                    </div>
                </div>

                    <!-- total Meetups -->
                <div class="col-md-3 filter-padding-left filter-padding-right">
                    <div class="user-analytics-ibox">
                        <div class="user-analytics-title">
                            <h5>Meet Ups</h5>
                        </div>
                        <div class="user-analytics-content">
                            <h3 class="no-margins" data-bind="text: totalMeetups"></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 filter-padding-left filter-padding-right">
                <div class="no-margins" id="response-comparison"></div>
            </div>
        </div>

    </div>
    <script src="@routes.Assets.versioned("javascripts/useranalytics.js")" type="text/javascript"></script>
}
