#calendar {
    background-color: white;
}

.fc-toolbar {
    border-bottom: 1px solid #e7eaec;
    padding: 10px 10px;
}

.fc-view-container {
    padding: 10px 10px;
}

.fc-day-header {
    color: black;
    font-weight: normal;
}

.fc-event {
    cursor: default;
}

.dayClickWindow {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -250px;
    display: none;
    z-index: 1;
}

.calendar-flashing {
    text-align: center;
    font-size: 15px;
}
