
.panel-title {
    text-align: center;
    font-family: 'gothic';
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff !important;
    background-color: #7C96C0 !important;
    font-weight: bold;
    overflow-wrap: break-word;
}

#list-sessions {
    list-style:none;
    max-height:25px;
    margin:0;
    overflow-y: auto;
    padding:0;
    text-indent:10px;
}

#subcategory-sessions {
  display: none;
  margin-top: 10px;
  border:1px solid #000;
  font-family:'gothic';
  height:100px;
}

.delete-warning-title-message {
    overflow-wrap: break-word;
    font-size: 20px;
    font-family: gothic;
    letter-spacing: 3px;
    color: #EC7063;
}

.delete-warning-sign {
    color: #EC7063;
    font-size: 50px;
    margin-right: 3px;
}

.delete-warning-btn {
    margin: 5px 10px;
    padding: 10px 25px;
}

.category-message {
    text-align: center;
    font-size: 16px;
}

.panel-content {
    overflow-x: auto;
}

#holder{
width:400px;
//text-align:center;
//padding-top:20px;
}

#datalist{
width:60%;
height:40px;
border:2px solid #dcdcdc;
padding:2px 5px;
outline:none;
}

#results-outer{
width:60%;
max-height:200px;
//background:blue;
margin-left:9.5%;
overflow-y: auto;
overflow-x: hidden;
display:None;
z-index:9999;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.result{
width:100%;
height:40px;
line-height:40px;
border-bottom:1px solid #eee;
cursor:pointer;
}

.sub-catagory{
float:left;
width:50%;
height:100%;
text-align:center;
}

.primary-catagory{
float:left;
width:50%;
height:100%;
text-align:center;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

#drop-btn{
height:40px;
border:none;
outline:none;
}

#submit-btn{
height:40px;
border:none;
outline:none;
margin-left:5px;
background-color:#EC7063;
color:#fff;
padding:5px 10px;
}

.over{
 background-color:#eee;
}

