
.panel-title {
    text-align: center;
    font-family: 'gothic';
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff !important;
    background-color: #7C96C0 !important;
    font-weight: bold;
    overflow-wrap: break-word;
}

#list-sessions, #list-sub-categories {
    list-style:none;
    max-height:75px;
    margin:0;
    padding:0;
    text-indent:10px;
}

#subcategory-sessions, #category-sessions {
  display: none;
  margin-top: 10px;
  border:1px solid #e5e6e7;
  font-family:'gothic';
  height:auto;
  max-height: 65px;
  overflow-y: auto;
  margin: 15px 0px;
}

#no-sessions, #no-subCategory {
    padding-left: 15px;
    padding-top: 10px;
}
.delete-warning-title-message {
    overflow-wrap: break-word;
    font-size: 20px;
    font-family: gothic;
    letter-spacing: 3px;
    color: #EC7063;
}

.delete-warning-sign {
    color: #EC7063;
    font-size: 50px;
    margin-right: 3px;
}

.delete-warning-btn {
    margin: 5px 10px;
    padding: 10px 25px;
}

.category-message {
    text-align: center;
    font-size: 16px;
}

.panel-content {
    overflow-x: auto;
}

/*#holder{
width:400px;
z-index: 9999;
//text-align:center;
//padding-top:20px;
}*/

#datalist, #mod-datalist{
border:none;
outline:none;
width:90%;
padding:6px 12px;
}

#results-outer, #mod-results-outer{
margin-left: -20px;
width:93%;
max-height:200px;
//background:blue;
margin-left:2px;
overflow-y: auto;
overflow-x: hidden;
display:None;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
position:absolute;
z-index:9999;
}

.result, .mod-result {
width:100%;
height:40px;
line-height:40px;
border-bottom:1px solid #eee;
cursor:pointer;
background-color:#fff;
}

.sub-catagory{
    float:left;
    width:50%;
    height:100%;
    text-align:center;
}

.primary-catagory{
    float:left;
    width:50%;
    height:100%;
    text-align:center;
}

.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

#drop-btn, #mod-drop-btn {
    //height:40px;
    border:none;
    outline:none;
    font-size:16px;
    background:#fff;
    visibility:hidden;
}

.over{
 background-color:#eee;
}

/*new category page css*/

.ibox {
    position: static;
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    overflow: auto;
}

.ibox-title {
    background-color: #fff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 2px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 5px 15px 7px;
    height: 46px;
}

h5 {
    text-align: center;
    color: #333333;
    font-size: 18px;
    fill: #333333;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    min-height: 185px;
    max-height:185px;
}

.form-control {
    margin-left: 15px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.category-label {
    font-weight:none;
    float:left;
    margin-bottom: 5px;
}

.form-horizontal .form-group {
    margin-right: 25px;
    margin-left: 15px;
}

.category-row {
    padding-bottomsult-: 30px;
}

.category-message {
    overflow-wrap: break-word;
    padding-right: 5px;
}

.category-btn {
    margin-top: 15px;
}

.btn-footer {
    background-color: #ffffff;
    padding-bottom:20px;
    margin-bottom: 25px;
}

.btn-footer-custom {
    position:relative;
    z-index:8888;
}
/*.btn-success {
    background-color: #1ab394;
}*/
/*.form-group {
    margin-bottom: 15px;
}*/

/*.control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right
}*/
