.question-card {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fff;
    margin-top: 15px;
    box-shadow: 0 4px 6px -5px #333;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

.first-question-card {
    padding-top: 0px;
}

.add-question-button {
    width: 60px;
    height: 60px;
    background-color: #dcdcdc;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0px 6px #999;
}

.add-question-button:hover {
    color: #5499C7;
    text-shadow: 0 0px 0px #999;
}

.create-feedback-button {
    position: fixed;
    border-radius: 0px;
    bottom: 40px;
    right: 30px;
    background-color: #5499C7;
    color: #FFFFFF;
    border: 2px solid #fff;
}

.feedback-title {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    line-height: 67px;
    border: none;
}

#form-name {
    border: none;
    outline: none;
    font-size: 20px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    width: 85%;
    text-align: center;
    color: #2980B9;
    font-weight: bold;
    margin-left: 7.5%;
}

input#form-name:focus {
    border-bottom: 2px solid rgb(125, 158, 192);
}

.card-questions {
    margin-bottom: 10px;
    line-height: 40px;
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 1px solid #dcdcdc;
    font-size: 20px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: #EC7063;
    font-weight: bold;
}

.card-options {
    line-height: 40px;
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 1px dotted #dcdcdc;
    font-size: 18px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    color: #7F8C8D;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.radio-button {
    display: flex;
}
.lab_text {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888888;
    align-self: center;
}

.lab_text:before {
    content: "\f10c";
    font-family: "FontAwesome";
    display: inline-block;
    width: 10px;
    color: #7F8C8D;
    font-size: 35px;
    margin-right: 25px;
    margin-left: 15px;
    font-size: 25px;
}

.custom-checkbox:checked + .lab_text:before {
    content: "\f111";
    font-family: "FontAwesome";
    display: inline-block;
    text-shadow: 1px 1px 3px #888888;
    animation: tick 150ms ease-in;
    font-size: 25px;
}

.checkbox-text {
    width:100%;

}

label.radio-button .lab_text {display: inline-block;  }

.delete-option-button {
    margin-top: 24px;
    margin-left: 18px;
    margin-right: 10px;
    font-size: 28px;
    color: #EC7063;
    text-shadow: 1px 1px 3px #888888;
    text-decoration: none;
}

a.fa.fa-times-circle.delete-option-button:hover {
    text-decoration: none;
    color: #E74C3C;
}

.add-option {
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #C39BD3;
    text-shadow: 0 0px 3px #999;
    text-align: center;
}

.card-questions-label {
    margin-bottom: 10px;
    line-height: 40px;
    border: none;
    width: 100%;
    outline: none;
}

.card-questions-other {
    margin-bottom: 10px;
    line-height: 40px;
    border: none;
    width: 80%;
    outline: none;
    border-bottom: 1px dotted #dcdcdc;
    font-size: 20px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: #EC7063;
    font-weight: bold;
    margin-left: 10%;

}
.comment-question{
    margin-left: 0px;
}

i.fa.fa-trash-o.delQuestion {
    font-size: 30px;
    color: #F1948A;
    cursor: pointer;
}

.delete-form {
    font-size: 30px;
    color: #F1948A;
    cursor: pointer;
    text-shadow: 0px 0px 3px #eee;
    text-align: center;

}

a.fa.fa-trash.delete-form:hover {
    text-decoration: none;
    color: #F1948A;
}

.add-option-parent {
    width: 100%;
    text-align: center;
}

.add-question-parent {
    width: 100%;
    position: relative;
    margin-bottom: 140px;
}

.add-type-tooltip{
    width: 100px;
    height: 100px;

}
.adjacent{
    width:200px;
    height: 65px;
    background-color:#5499C7;
    margin: 0 auto;
    border-radius: 10px;
    position: absolute;
    background-image: url(../images/mesh.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #fff;
    display: none;
    z-index: 999;
    left: 0;
    right: 0;
}

.notch{
    font-size: 30px;
    top: -32px;
    position:absolute;
    width: 100%;
    text-align: center;
    color:#fff;
    text-shadow:0px 0px 10px -5px #fff;
}
.add-type-option-common{
    width:97px;
    height:80px;
    float:left;
    color: #fff;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}
.add-type-option-mcq{
    padding-top: 6px;
}
.add-type-option-comment{
    padding-top: 5px;
    font-size: 24px;
}
.type-partition{
    height:25px;
    float:left;
    border-left: 1px solid #2e6da4;
    margin: 20px 0px;
}
.add-type-option-common_text{
    font-size: 15px;
    color:#fff;
    margin-top:-4px;
}
textarea{
    background-color: transparent;
    width:100%;
    resize: vertical;
    text-align:center;
    border:none;
    border-top:None;
    outline: none;
    box-shadow: 0 4px 6px -5px #333;
    font-weight: bold;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: #7F8C8D;
    min-height: 50px;
    overflow-y: hidden;
}
.comment-section{
    width:100%;
    text-align:center;
    border:none;
    border-bottom: 1px dotted #dcdcdc;
    outline: none;
    font-size: 18px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    color: #7F8C8D;
    height: 80px;
}
.comment-section:disabled{
    background-color:#fff;
}


/** New Added styles*/
.feedback-duration {padding:20px 0}
.feedback-duration .checkbox-text {
    width: 70px;
    display: inline-block;
}

.feedback-duration .days-outer .days{    width: 40px;
                                         margin: 0 0 0 -6px;}
 .feedback-duration .days-outer .checkbox-text { white-space:nowrap}

 .duration-title {

     margin-left: 0;
     line-height: 22px;
 }

 .questions-inlining .checkbox-text {
     white-space: normal;
     word-wrap: break-word;
     line-height: 24px;
     max-width: 200px;
     width: 100%;
 }

 .card-questions-label{ display:block}