.feedback-form-display-container {
    color: #000;
    margin: 100px 0px;
    background-color: #fff;
    padding: 0px 0px 0px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    background-image: url('../images/mesh.svg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 7px -5px #333, inset 0 7px 9px -7px rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    border-top: 1px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.feedback-top-banner {
    margin-bottom: 80px;
    box-shadow: 0 9px 8px -5px #a8a8a8;
    border-bottom: 1px solid #fff;
    height: 30px;
}

.questions-inlining {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}

.feedback-footer {
    height: 30px;
    background-color: #dcdcdc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 10px;
}

.card-body {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0px 6px #999;
    background-color: #dcdcdc;
    box-shadow: 0 6px 20px #a8a8a8;
}

.card-custom-padding {
    padding-bottom: 20px;
}

.stick-out {
    position: relative;
    top: -40px;
    padding-top: 13px;
    border: 3px dotted #fff;
}

.feedback-card-head {
    width: 80px;
    height: 80px;
    background-color: #dcdcdc;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0px 6px #999;
}

.feedback-display-logo {
    font-size: 40px;
    text-shadow: none;
    color: #639593;;
}

.feedback-card-button {
    border-radius: 0;
    width: 80%;
    margin-bottom: 20px;
    border: 2px solid #dcdcdc;
    letter-spacing: 2px;
    background-color: #639593;
    outline: none !important;
    padding: 12px 0px;
    font-size: 18px;
    color: #fff;
    position: relative;
    margin-top: 8px;
}

.feedback-card-button:hover {
    background-color: #5D8D8C;
    border: 2px solid #dcdcdc;
    outline: none !important;
    color: #fff;
}

.feedback-card-button:active {
    background-color: #5D8D8C;
    border: 2px solid #dcdcdc;
    outline: none !important;
    color: #fff;
}

.feedback-card-button:focus {
    outline: none !important;
    color: #fff;
}

.feedback-card-topic {
    font-size: 20px;
    word-wrap: break-word;
    line-height: 1.2em;
    color: #fff;
    text-shadow: none;
    background-color: rgb(125, 158, 192);
    padding: 40px 10px 40px 10px;
    background-image: url(../images/mesh.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-box-shadow: inset 0 -10px 10px -10px #888;
    -webkit-box-shadow: inset 0 -10px 10px -10px #888;
    box-shadow: inset 0 -10px 10px -10px #888;
    margin-bottom: 18px;
}

.accepting-response {
    width: 80px;
    height: 80px;
    background-image: url(../images/ripple.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.live {
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 0px;
}

.custom-position {
    position: relative;
}

.custom-fold {
    border-top-right-radius: 35px;
}

.fold {
    width: 100%;
    height: 50%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 888;
    opacity: 0.8;
    font-size: 15px;
}

.session-type {
    position: absolute;
    top: -2px;
    right: 0;
    z-index: 777;
    border-radius: 0px;
    margin: 0;
}

.custom-label-type {
    border-radius: 0px;
    margin: 0px;
}

.accepting-response-text {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    text-align: center;
}

.session-details {
    border-collapse: collapse;
    table-layout: fixed;
    border: none;
}

.session-details > tr > td:first-child {
    color: #566573;
    text-shadow: none;
    font-weight: bold;
    font-family: 'headerfont';
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 10px;
    text-align: left;
}

.session-table {
    table-layout: fixed;
    word-wrap: break-word;
    box-shadow: 0 4px 10px -5px #a8a8a8;
    margin-bottom: 0px;
}

.session-card-values {
    font-size: 22px;
    color: #F1948A;
}

.feedback-card-details {
    position: relative;
}

.feedback-card-expire-button {
    border-radius: 0;
    width: 80%;
    margin-bottom: 20px;
    border: 2px solid #dcdcdc;
    letter-spacing: 2px;
    background-color: #639593;
    outline: none !important;
    padding: 12px 0px;
    font-size: 18px;
    color: #fff;
    position: relative;
    margin-top: 8px;
    cursor: not-allowed;
}

.expired {
    background-color: #a8a8a8;
    box-shadow: none;
    color: #fff;
}

.expired-details-button {
    background-color: #a8a8a8;
    color: #fff;
}

.feedback-card-expire-button:hover {
    background-color: #a8a8a8;
    color: #fff;
}

.feedback-card-expire-button:active {
    background-color: #a8a8a8;
    color: #fff;
}

.feedback-card-expire-button:focus {
    background-color: #a8a8a8;
    color: #fff;
}

.session-table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: none;
}

.session-information-modal {
    padding-bottom: 0px;
}

.session-modal-title {
    box-shadow: 0 8px 10px -5px #a8a8a8;
    background-color: #639593;
    text-align: center;
}

#session-topic {
    color: #fff;
    font-size: 22px;
    font-family: 'sans-serif';
}

.session-modal-footer {
    border: none;
    text-align: center;
}

.session-modal-footer-btn {
    background: #639593;
    color: #fff;
    font-size: 15px;
    font-family: 'sans-serif';
    padding: 10px 60px 10px 60px;
    border-radius: 0px;
}

.feedback-card-by {
    font-size: 15px;
    padding: 0px 0px;
    color: #a8a8a8;
    text-shadow: none;
    font-weight: bold;
}

.feedback-card-author {
    font-size: 16px;
    color: #5D8D8C;
    text-shadow: none;
    word-wrap: break-word;
    line-height: 1.2em;
    padding: 0px 15px 0px 15px;
}

.more {
    color: #EC7063;
    cursor: pointer;
}

.expire-color {
    color: #a8a8a8;
}

.feedback-response-details {
    background-color: #fff;
}

.feedback-response-form {
    background-color: transparent;
}

.feedback-response-outer {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.form-session-information-modal {
    margin-bottom: 20px;
}

.form-card-options {
    line-height: 40px;
    border: none;
    width: 90%;
    outline: none;
    font-size: 18px;
    font-family: 'gothic';
    letter-spacing: 2px;
    color: #7F8C8D;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    text-align: center;
}

.form-question-card {
    background: url('../images/mesh.svg') no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 15px;
    background-color: #fff;
    overflow-x:auto;
    white-space: nowrap;
    height: 240px;
}

.submit-form-button {
    border-radius: 0px;
}

.submit-form-button:hover {
    background-color: #639593;
    color: #fff;
    border: 2px solid #fff
}

.feedback-response-submit {
    width: 100%;
    text-align: center;
}

.feedback-response-sessions {
    width: 100%;
}

#question-outer-1 {
/ / border-bottom: 6 px solid #EC7063;
/ / box-sizing: border-box;
}

.comments::-webkit-input-placeholder { /* Chrome */
    color: #d5d5d5;
}

.comments:-ms-input-placeholder { /* IE 10+ */
    color: #d5d5d5;
}

.comments::-moz-placeholder { /* Firefox 19+ */
    color: #d5d5d5;
    opacity: 1;
}

.comments:-moz-placeholder { /* Firefox 4 - 18 */
    color: #d5d5d5;
    opacity: 1;
}

#mandatory-warning {
    display: none;
    text-align: center;
}

.acknowledgement-message {
    min-height: 400px;
    background-color: #fff;
    border-radius: 5px;
    background-image: url('../images/mesh.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
}

.custom-checkbox:checked + .success_text:before {
    margin-top: 0px;
    content: "\f058";
    font-family: "FontAwesome";
    display: inline-block;
    text-shadow: 1px 1px 3px #888888;
    animation: success-tick 500ms ease-in;
    font-size: 80px;
}

.custom-checkbox:checked + .failure_text:before {
    margin-top: 0px;
    content: "\f134";
    font-family: "FontAwesome";
    display: inline-block;
    text-shadow: 1px 1px 3px #888888;
    animation: success-tick 500ms ease-in;
    font-size: 80px;
}

.success_text_color {
    color: #45B39D;
}

#success_text_color-background-color {
    background-color: #45B39D;
}

.failure_text_color {
    color: #EC7063;
}

#failure_text_color-background-color {
    background-color: #EC7063;
}

@keyframes success-tick {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.acknowledgement-text {
    color: #85929E;
    text-shadow: none;
    font-weight: bold;
    font-family: 'headerfont';
    font-size: 35px;
    letter-spacing: 1px;
    padding: 40px 0 0 10px;
    text-align: center;
}

.acknowledgement-text_tag {
    color: #85929E;
    text-shadow: none;
    font-family: 'gothic';
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0px 0px;
}

.acknowledgement-custom-message {
    margin-top: 30px;
    color: #639593;
    text-shadow: none;
    font-family: 'gothic';
    font-size: 22px;
    letter-spacing: 1px;
    text-align: center;
}

.submission-success-okay-btn {
    text-shadow: none;
    font-family: 'gothic';
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
}

.banned-warning {
    margin: 100px 0px;
    background-color: #fff;
    box-shadow: 0 4px 7px -5px #333;
    padding: 10px 50px 80px 30px;
    border-radius: 20px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    background-image: url('../images/mesh.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.ban_text {
    margin-top: 0px;
    display: inline-block;
    text-shadow: 1px 1px 3px #888888;
    animation: success-tick 500ms ease-in;
    font-size: 60px;
    color: #EC7063;
    font-weight: bold;
}

.ban-outer {
    text-align: center;
}

.ban_text-title {
    color: #a8a8a8;
    font-family: 'gothic';
    margin-top: 10px;
    font-weight: bolder;
}

.ban-period {
    color: #EC7063;
    font-weight: bold;
}

.permanent-warn {
    text-align: center;
    margin-top: 30px;
    color: #a8a8a8;
}

.ban-custom-message {
    font-size: 19px;
}

.acknowledgement-text_tag-till {
    font-size: 14px;
}

.custom-ban-tag {
    font-size: 16px;
}

.report-container {
    padding-top: 100px;
}

.form-question-card {
    max-height: 260px;
    height: auto;
}

#formData .preview-options {
    padding-left: 40px;
    line-height: 28px;
    padding-right: 20px;
    margin-bottom: 20px;
    word-break: break-word;
    position: relative;
}

#formData .preview-options i.fa {
    position: absolute;
    left: 10px;
    top: 6px;
}
.feedbackAttendance-dialog {
    top: 15%;
    width: 40vw;
    margin: 0 auto;
}

#feedbackAttendance-content {
    background-image: url('../images/mesh.svg');
}

#feedbackAttendance-body {
    overflow: auto;
    font-family: 'gothic';
    height: 50vh;
}

.feedbackAttendance-button {
    height: 8vh;
    width: 40vh;
    font-weight: 900;
    font-size: 2.5vh;
}

#session-form-info {
    overflow-y: auto;
}

.didnotattend-button {
    margin-top: 5vh;
}

.form-question-card {
    max-height: 260px;
    height: auto;
}

#formData .preview-options {
    padding-left: 40px;
    line-height: 28px;
    padding-right: 20px;
    margin-bottom: 20px;
    word-break: break-word;
    position: relative;
}

#formData .preview-options i.fa {
    position: absolute;
    left: 10px;
    top: 6px;
}

.feedbackAttendance-header-text {
    font-weight: 900;
    font-family: 'gothic';
    margin: 5vh 0;
    font-size: 2.5vh;
}

#feedbackAttendance-close {
    padding: 10px;
}

. modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feedback-card-presenter {
    font-size: 16px;
}
