#myFooter {
    background-color: white;
    color: black;
    padding-top: 30px;
    margin-top: 40px;
}

.footer {
    font-style: inherit;
    color:#676a6c;
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 5px 20px;
    position: absolute;
    right: 0;
    transition: all 0.5s;
}
