.table-condensed > thead > tr {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.table-condensed > thead > tr > th {
    color: black;
}

.analysis-container {
    margin: 40px -15px;
}

.graph-panel {
    min-width: 300px;
    height: 250px;
    max-width: 600px;
    margin: 0 auto;
}
.date-range-picker {
    text-align: right;
    margin-top: 10px;
    padding-right: 15px !important;
}
