.table-condensed > thead > tr {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.table-condensed > thead > tr > th {
    color: black;
}

.analysis-container {
    margin: 100px 0px;
    /*background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.graph-panel {
    min-width: 320px;
    height: 250px;
    max-width: 600px;
    margin: 0 auto;
}
