.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-collapse.navbar-ex1-collapse.collapse.in {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    background-color: #F5F5F5;
}

.container-fluid {
    padding: 0px 0px 0px 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-family: 'headerfont';
    font-size: 22px;
    letter-spacing: 2px;
}

ul > li > a {
    font-family: 'headerfont';
    font-size: 20px;
    margin-top: 2px;
}

.alignLinks {
    margin-left: 30px;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
}

body {
    background-color: #eee;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'headerfont';
    src: url('font/h3.ttf');
}

nav.navbar {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 60px;
    padding-top: 5px;
}

nav.navbar.shrink {
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: #F5F5F5;
    opacity: 1;
}

.home-info {
    height: 800px;
}

hr {
    height: 1px;
    border: none;
    color: #a8a8a8;
    background-color: #a8a8a8;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.fa-user, .caret {
    color: #fff;
    font-size: 30px;
    line-height: 20px;
    -webkit-text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -moz-text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    text-shadow: 0 0 10px #85929E;
}

i.fa.fa-user:hover {
    color: #fff;
    text-shadow: 0 0 10px #85929E;
}

i.fa.fa-user:active {
    background-color: rgb(125, 158, 192);
    text-shadow: 0 0 10px #85929E;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 11px;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 2em;
    margin-top: 5px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#parallex-layer {
    position: fixed;
    width: 100%;
    height: 300px;
    background-color: rgb(125, 158, 192);
    opacity: 0.8;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: rgb(125, 158, 192);
}

.fa-comments {
    color: #fff;
}
