.login-outer {
    height: 420px;
    background-color: #FFF;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 7px -5px #333, inset 0 7px 9px -7px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 30%;
    background-image: url('../images/mesh.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.register-custom-position {
    padding-top: 15px;
}

.user-manage-outer{
    height: 500px;
}

.forgot-password-outer {
    height: 300px;
}

.reset-password-outer {
    height: 440px;
}

.login-first {
    height: 80px;
    padding: 0px 0px;
    background-color: rgb(125, 158, 192);
    box-shadow: 0 9px 8px -5px #a8a8a8;
    border-bottom: 1px solid #fff;
}

.forget-password {
    text-align: center;
    padding-top: 10px !important;
}

.top-container {
    margin-top: 90px;
}

.login-second {
    line-height: 50px;
    padding-top: 50px;
}

.no-outline {
    outline: none;
}

.custom-textbox-alignment {
    line-height: 50px;
    padding-top: 20px;
}

.input-field {
    width: 100%;
    text-align: center;
    font-family: 'gothic';
    font-size: 18px;
    color: #566573;
    border: none;
    border-bottom: 2px dotted #CACFD2;
    background-color: transparent;
    box-shadow: none;
}

input:invalid {
    box-shadow: None!important;
}

.login-third {
    padding-top: 30px;
}

.login-button {
    background-color: #45B39D;
    color: #fff;
    border: None;
    outline: none;
}

.forgot-password{
    font-size: 20px;
    margin-right: 5px;
    margin-top: 20px;
    color:#EC7063;
}

.forgot-password-link {
  text-decoration: none!important;
    color:#EC7063;
}

input.input-field.logo:focus {
    outline: none;
    border-bottom: 2px solid #45B39D;
}

.error {
    padding-top: 30px;
    line-height: 15px;
    text-align: center;
}

.login-error {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}
