.login-outer {
    height: 470px;
    background-color: #FFF;
    box-shadow: 0 4px 6px -5px #333;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
    animation: fadein 0.5s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.user-manage-outer{
    height: 500px;
}

.forgot-password-outer {
    height: 350px;
}

.reset-password-outer {
    height: 480px;
}

.login-first {
    height: 80px;
    padding: 0px 0px;
    background-color: rgb(125, 158, 192);
    box-shadow: 0 9px 8px -5px #a8a8a8;
    border-bottom: 1px solid #fff;
}

.forget-password {
    text-align: center;
    padding-top: 10px !important;
}

.top-container {
    margin-top: 90px;
}

.login-second {
    line-height: 50px;
    padding-top: 50px;
}

.custom-textbox-alignment {
    line-height: 50px;
    padding-top: 20px;
}

.input-field {
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 2px solid #CACFD2;
    font-family: 'gothic';
    font-size: 18px;
    color: #566573;
}

.login-third {
    padding-top: 30px;
}

.login-button {
    background-color: #45B39D;
    color: #fff;
    border: None;
    outline: none;
}

input.input-field.logo:focus {
    outline: none;
    border-bottom: 2px solid #45B39D;
}

.error {
    padding-top: 30px;
    line-height: 15px;
    text-align: center;
}

.login-error {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}
