.manage-user-custom-margin {
    margin-bottom: 0px;
}

.search-bar {
    height: 50px;
    border: 1px solid #dcdcdc;
    box-shadow: 0 4px 6px -5px #333;
    border-radius: 4px;
    margin-bottom: 50px;
}

.search-text {
    height: 100%;
    width: 90%;
    border: none;
    background-color: transparent;
    outline: none;
    font-family: 'gothic';
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
    padding-left: 40px;
    color: #fff;
    float: left;
}

.search-button {
    float: left;
    width: 10%;
    height: 100%;
    text-align: center;
    padding-top: 12px;
    font-size: 25px;
    color: #888;
    cursor: pointer;
}

.found-user-card {
    height: 200px;
    background-color: red;
    margin-bottom: 40px;
}

.manage-user-custom-stick-out {
    padding-top: 0px;
    font-size: 50px;
    top: -45px;
    background-color: transparent;
    border: none;
    color: #dcdcdc;
    text-shadow: none;
    margin-top: 10px;
}

.manage-user-container-custom-margin {
    background-color: transparent;
    background-image: none;
}

.manage-user-container-custom-btn {
    margin-bottom: 0px;
}

.manage-user-container-email {
    font-family: 'gothic';
    font-size: 18px;
    letter-spacing: 2px;
    padding: 0px 0px 15px 0px;
    margin-top: 45px;
    text-align: center;
}

.horizontal-rular {
    height: 10px;
    background-color: #000;
    color: #000;
    width: 50%;
    top: 0px;
}

.manage-user-checkbox-text {
    text-align: left;
    font-size: 18px;
    font-family: 'gothic';
    color: #888888;
    text-shadow: none;
    letter-spacing: 2px;
    margin-top: 15px;
    margin-right: 15%;
    margin-left: 30%;
}

.manage-user-checkbox-ban-text {
    margin-right: 22%;
}

.manage-user-label_text:before {
    margin-top: 3px;
    content: "\f096";
    font-family: "FontAwesome";
    display: inline-block;
    width: 10px;
    color: #EC7063;
    font-size: 35px;
    margin-right: 50px;
}

.custom-checkbox:checked + .manage-user-label_text:before {
    margin-top: 3px;
    content: "\f14a";
    font-family: "FontAwesome";
    display: inline-block;
    text-shadow: 1px 1px 3px #888888;
    animation: tick 150ms ease-in;
}

.custom-manage-user-body {
    text-shadow: none;
    height: 350px;
}

.custom-manage-user-body-error {
    text-shadow: none;
    box-shadow: 0 3px 4px #666;
}

.suspend-ckb-outer {
    top: -50px;
    text-align: center;
    padding-left: 15%;
}

.password-bar {

}

.password-text {
    height: 100%;
    width: 100%;
    border-bottom: 2px dotted #CACFD2;
    background-color: transparent;
    outline: none;
    text-align: center;
    color: #EC7063;
    font-size: 20px;
    font-family: 'gothic';
    text-shadow: none;
    letter-spacing: 2px;
}

.empty-email {
    text-align: center;
    margin-top: -160px;
    color: #EC7063;
    font-size: 20px;
    font-family: 'gothic';
    text-shadow: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.manage-user-alerts {
    text-align: center;
    font-size: 18px;
}

.users-onkeystrokes {
    width: 100%;
    font-size: 20px;
    color: #EC7063;
    font-family: 'gothic';
    text-shadow: none;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 1em;
    position: relative;
    top: -40px;
    text-align: left;
    padding: 0px 20px 30px 20px;
    background-color: #dcdcdc;

}

.users-onkeystrokes_email {
    width: 80%;
    white-space: normal;
    display: inline;
    position: relative;
}

.users-onkeystrokes_edit-btn {
    width: 20%;
    display: inline;
    position: relative;
}

.users-found-table {
    top: -41px;
    table-layout: fixed;
    word-wrap: break-word;
    box-shadow: 0 4px 10px -5px #a8a8a8;
    position: relative;
    margin-bottom: 0px;
}

.users-found-edit {
    color: #EC7063;
    font-size: 25px;
    text-align: right;
    cursor: pointer;
}

.user-found-email {
    color: #666;
}

.user-info-details > tr > td:first-child {
    color: #639593;
    text-shadow: none;
    font-weight: bold;
    font-family: 'headerfont';
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
}

.all-users {
    position: relative;
    background-color: transparent;
    margin-top: 30px;
}

#found-user-details {
    position: absolute;
    z-index: 555;
    right: 0;
    left: 0;
}

.fa-database {
    color: #a8a8a8;
    font-size: 30px;
    margin-right: 10px;
    margin-left: 30px;
}

.no-record-found {
    color: #666;
    font-size: 16px;
}

.all-users-table > tbody > tr > td:first-child, .all-users-table > tbody > tr > td:nth-child(2) {
    text-align: center;
    font-family: 'gothic';
    font-size: 17px;
    letter-spacing: 1px;
    color: #666;
}

.manage-user-custom-table-margin {
    margin: 0 0;
}

.search-text::-webkit-input-placeholder { /* Chrome */
    color: #fff;
}

.search-text:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}

.search-text::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    opacity: 1;
}

.search-text:-moz-placeholder { /* Firefox 4 - 18 */
    color: #fff;
    opacity: 1;
}

.all-users-table > thead > tr > th {
    padding-top: 10px;
}

.all-users-table > tbody > tr > td:last-child {
    font-weight: bold;
    letter-spacing: 2px;
}

.active-status {
    color: #45B39D;
}

.hold-status {
    color: #FFF300;
}

.suspended {
    color: #EC7063;
}

.edit-popup {
    margin-right: 50px;
    margin-left: 10%;
}

.inactive {
    cursor: pointer;
}

.save-user-changes {
    margin-top: 20px;
}

.user-updated-message {
    text-align: center;
    margin-top: 5%;
    font-size: 15px;
}

.default-margin-top {
    margin-top: 90px;
}

.Schedule-green {
    color: #5cb85c;
}

.cancel-red {
    color: #d43f3a;
}

.filters {
    box-shadow: none;
}

.custom-checkbox {
    display: none;
}

.checkbox-outer {
    display: flex;
}

.filter-label_text {
    font-family: 'headerfont';
    color: #888888;
    align-self: center;

}

.filter-checkbox-text {
    font-size: 14px;
    font-family: 'headerfont';
    color: #fff;
    margin: 0px;
    margin-top: 15px;
    letter-spacing: 2px;
}

.filter-label_text:before {
    margin-top: 3px;
    content: "\f096";
    font-family: "FontAwesome";
    display: inline-block;
    width: 10px;
    color: #fff;
    font-size: 25px;
    margin-right: 25px;
}

.custom-checkbox:checked + .filter-label_text:before {
    margin-top: 3px;
    content: "\f14a";
    font-family: "FontAwesome";
    display: inline-block;
    text-shadow: 1px 1px 3px #888888;
    animation: tick 150ms ease-in;
}

.filter-padding-left {
    padding-left: 0px;
}

.rest {
    padding-left: 0px;
}

.ban-text {
    font-size: 13px;
}
