.btn-primary {
    color: #fff;
    background-color: #7d9ec0;
    border: 2px solid #fff;
    font-weight: bold;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.btn.btn-sm.btn-primary.btn-create {
    box-shadow: 0 4px 5px -5px #333;
}

.session-custom-search-bar {
    margin-bottom: 0 !important;
}

.btn-danger {
    background-color: #c0392b !important;
}

.label-success {
    background-color: #27ae60
}
