.btn-primary {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    font-weight: bold;
    font-family: 'gothic'
}
a.btn.btn-sm.btn-primary.btn-create {
    box-shadow: 0 4px 5px -5px #333;
}

