@media only screen and (max-width: 767px) {

    #mobile-navbar {
        display: block;
    }

    #mobile-navbar i {
        width: 20px !important;
    }

    #sidebar {
        display: none;
    }

    #non-mobile-header {
        display: none;
    }

    .navbar {
        max-height: 51px;
        width: 100%;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: 100%;
    }

    .container-fluid > .navbar-collapse {
        background-color: #ffffff;
    }

    .navbar-toggle {
        background-color: #2f4050;
    }

    .main-table {
        display: none;
    }

    .float-right {
        float: right;
    }

    .margin-left {
        margin-left: 30px !important;
    }

    .notification-icon {
        font-size: 20px;
        border-left: 2px solid;
        border-right: 2px solid;
        padding: 5px 15px;
    }

    a[aria-expanded="true"] {
        color: black;
        background: #FFFFFF;
    }

    .filter-no-padding-mobile {
        padding-left: 0px !important;
    }

    .padding-left-30-mobile {
     padding-left: 30px !important;
    }
    .filter-no-padding {
        padding-left: 0px;
        padding-right: 0px;
    }


    .margin-top-25 {
        margin-top: 25px !important;
    }

    .right-zero {
        right: 0 !important;
    }

    .margin-top-15 {
        margin-top: 15px !important;
    }

    #manage-pending-session-mobile-table tr {
        border: 1px solid #FFFFFF;
        width: 100%;
        background-color: #eeeeee;
    }

    .register-div {
       /* margin-left: -120px;
        display: inline-grid;
        margin-top: 28px;*/
        /*display: inline-block;*/
        display: inline-flex;
        /*margin-left: -119px;*/
        margin-top: 28px;
    }

    .login-form {
        border-right: none;
    }

    #manage-pending-session-mobile-table tr td {
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .register-form {
        text-align: center;
        padding-bottom: 10px;
    }

    .register-outer {
        margin: auto 0px;
    }

}

@media only screen and (min-width: 768px) {
    #mobile-navbar {
        display: none;
    }

    #session-mobile-table, #manage-session-mobile-table, #manage-user-mobile-table, #manage-pending-session-mobile-table {
        display: none;
    }

    .main-table {
        display: inline-table;
    }

    .padding-left-30 {
        padding-left: 30px !important;
    }

    .padding-left-45 {
        padding-left: 45px !important;
    }

    .decline-filter {
        padding-left: 40px !important;
        float: right
    }

    .approved-filter {
        padding-left: 20px !important;
        float: right;
    }

    .done-filter {
        padding-left: 40px !important;
        float: right
    }

    .pending-filter {
        padding-left: 30px !important;
        float: right
    }

    .book-filter {
        padding-left: 25px !important;
        float: right
    }

    .all-filter {
        width: fit-content;
        float: right
    }

    .right-zero-main {
        right: 0 !important;
        left: unset;
    }

    .login-form {
        border-right: 1px solid #e7eaec;
        margin:auto;
    }

    .register-form{
        padding-bottom: 10px;
    }

}
