.custom-checkbox:checked + .approved-label_text:before {
    content: "\f00c";
    font-family: "FontAwesome";
    display: inline-block;
    text-shadow: 1px 1px 3px #888888;
    animation: tick 150ms ease-in;
}

.approved-label_text:before {
    content: "\f096";
    font-family: "FontAwesome";
    display: inline-block;
    width: 10px;
    color: #676a6c;
    font-size: 15px;
    margin-right: 8px;
}

.recommendationList
{
    padding: 0 !important;
    list-style-type: none;
}

.add-recommend {
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: #db4437;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    display: inline-block;
    fill: #fff;
    height: 56px;
    outline: none;
    overflow: hidden;
    text-align: center;
    width: 56px;
    z-index: 4000;
}


.fa-plus-content:before {
    content: '\002b';
    font-family: "Glyphicons Halflings";
    padding-top: 10px;
    position: relative;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    line-height: 1;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    color: #fff;
}

.textbox-recommend {
    bottom: 110px;
    left: 0%;
    right: 0px;
    position: relative;
    float: right;
}

.textbox-recommend-main {
    text-align: left;
    background-color: white;
    width: 90%;
    resize: vertical;
    border: none;
    border-top: None;
    outline: none;
    box-shadow: 0 4px 6px -5px #333;
    font-weight: normal;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #7F8C8D;
    min-height: 50px;
    overflow-y: auto;
 }

.popover-content {
    background-color: #f7f7f7;
}

.recommendation-card {
    height: auto;
    min-height: 100px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0px 6px #999;
    background-color: #FFFFFF;
}

.recommendation-content {
    height: 100px;
    color: #7F8C8D;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom:10px;
    text-align: center;
    background-color: #FFFFFF;
}
.recommendation-card-topic {
    position: relative;
    font-size: 14px;
    word-wrap: break-word;
    line-height: 1.2em;
    color: #fff;
    text-shadow: none;
    background-color: rgb(125, 158, 192);
    padding: 10px;
    background-image: url(../images/mesh.svg);
    background-repeat: no-repeat;
    background-size: cover;
    -moz-box-shadow: inset 0 -10px 10px -10px #888;
    -webkit-box-shadow: inset 0 -10px 10px -10px #888;
    box-shadow: inset 0 -10px 10px -10px #888;
}

.recommendation-presenter {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.recommendation-dropdown {
    color: #2b542c;
    font-size: 25px !important;
    position: absolute;
    top: 12px;
    right: -2px;
    z-index: 777;
    border-radius: 0px;
    margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content span {
    font-size: 12px;
    color: black;
    padding: 3px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content span:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.recommendation-label {
    font-size: 16px !important;
    position: relative;
    bottom: 21px;
    left: 77%;
    width: fit-content;
}

.recommendation-vote {
    padding-left: 10px;
    width: 30px;
}

.recommendation-up:before {
    content: "\f0d8";
    cursor: pointer;
    font-family: "FontAwesome";
    width: 10px;
    font-size: 30px;
}

.recommendation-down:before {
    content: "\f0d7";
    cursor: pointer;
    font-family: "FontAwesome";
    width: 10px;
    font-size: 30px;
}