.top-registration-field {
    margin-top: 5px;
}

.registration-button {
    background-color: #1ab394;
    color: #fff;
    border: None;
    margin-bottom: 15px;
}

input.input-field.reg:focus {
    outline: none;
    border-bottom: 2px solid rgb(125, 158, 192);
}

.registration-error {
    margin-top: 20px;
    font-size: 16px;
}

.register-label {
    font-weight: none;
    float: left;
}
