.top-registration-field {
    padding-top: 30px;
    margin-top: 17px;
}

.registration-button {
    background-color: rgb(125, 158, 192);
    color: #fff;
    border: None;
}

input.input-field.reg:focus {
    outline: none;
    border-bottom: 2px solid rgb(125, 158, 192);
}

.registration-error {
    margin-top: 100px;
    font-size: 16px;
}
