.table > tbody > tr > td {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'gothic';
    font-size: 17px;
}

th {
    text-align: center;
    font-family: 'gothic';
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
}

thead > tr {
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #eee;
}

@font-face {
    font-family: 'gothic';
    src: url('font/gothic.ttf');
}

.table-responsive {
    box-shadow: 0 4px 10px -5px #333;
    border-radius: 0px 0px 30px 30px;
    margin-bottom: 100px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.center {
    display: table;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.v-align {
    display: table-cell;
    text-align: center;
}

ul.pagination.pagination-lg li a {
    color: #45B39D;
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 2px solid #45B39D;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pagination li.active a {
    background-color: #45B39D;
    color: #fff !important;
    border: 1px solid #eee;
}

.pagination li:hover.active a {
    background-color: #16A085;
    color: #fff !important;
    cursor: pointer
}

.pagination li:hover:not(.active) a {
    background-color: #ddd;
}

.v-align-mobile {
    padding-right: 30px;
}

