.table {
    margin-bottom: 15px !important;
}

.table > tbody > tr > td {
    text-align: center;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

th {
    text-align: center;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #eee;
}

@font-face {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url('font/gothic.ttf');
}

.table-responsive {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    overflow-x : inherit;
}


.center {
    display: table;
    width: 100%;
    bottom: 0;
}

.v-align {
    display: table-cell;
    text-align: right;
}

ul.pagination.pagination-lg li a {
    color: #676a6c;
    font-size: 15px;
    border: 1px solid #e7eaec;
    border-radius:0 ;
    padding: 2px 5px !important;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.pagination li.active a {
    background-color: #f4f4f4;
    color: #676a6c!important;
}

.pagination li:hover.active a {
    background-color: #f4f4f4;
    color: #676a6c !important;
    cursor: default;
    border: 1px solid #e7eaec;
}

.pagination{
    margin: 0;
}

.pagination li:not(.active) a {
    background-color: #FFFFFF;
    color: #676a6c;
}

.pagination li:hover:not(.active) a {
    background-color: #f4f4f4;
    color: #676a6c;
}

.knolx-session {
    background-color :#26A69A;
}

.meetup-session {
    background-color :#8e44ad;
}

.more-detail-session {
    background-color :#00BCD4;
}

.cancelled-session {
    background-color:#F4511E;
}

.table-header-color {
    background-color :#7d9ec0;
}

@media only screen and (max-width: 768px) {
    #session-mobile-table {
        margin-top: 20px;
    }

    #main-session-tbody-mobile tr {
        border: 1px solid #FFFFFF;
        width: 100%;
        background-color: #eeeeee;
    }

    #main-session-tbody-mobile tr td {
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .row-space {
        height: 10px;
        background-color: #FFFFFF !important;
    }

    .session-topic {
        text-align: center;
        font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 15px !important;
        letter-spacing: 1px;
        border-bottom: none !important;
        border-top: none !important;
        padding: 5px 0px;
    }

    .manage-user-container-custom-margin {
        text-align: center;
    }

    .manage-user-container-custom-margin>label {
        padding-bottom: 10px;
    }

    .all-users {
        padding-top: 10px;
    }

    .session-info {
        height: 75px;
    }

    .table-header-color {
        background-color: rgb(26, 179, 148);
    }

    #show-entries {
        padding-right: 2%;
        padding-bottom: 4px;
    }

    .mobile-top-adjusment {
        margin-top: 65px;
    }

    #show-entries-mobile-div {
        padding-right: 8px;
    }
}
