.updateField {
    width: 100%;
    border: none;
    border-bottom: 2px solid #CACFD2;
    font-family: 'gothic';
    font-size: 18px;
    color: #566573;
    background-color: #fff;
    padding: 15px 0px;
    outline: none;
}

.top {
    margin-bottom: 20px;
}

.update-outer {
    height: 560px;
    background-color: #FFF;
    box-shadow: 0 4px 6px -5px #333;
}

#date {
    outLine: none;
}

input:required {
    box-shadow: none;
}

input:invalid {
    box-shadow: 0 0 3px #fff;
}

label {
    cursor: pointer;
}

.ckb {
    display: none;
}

.testy {
    display: flex;
}

.label_text {
    font-family: 'headerfont';
    color: #888888;
    align-self: center;

}

.checkbox-text {
    font-size: 17px;
    font-family: 'headerfont';
    color: #888888;
    margin: 0px;
    margin-top: 15px;
    letter-spacing: 2px;
}

.label_text:before {
    margin-top: 3px;
    content: "\f096";
    font-family: "FontAwesome";
    display: inline-block;
    width: 10px;
    color: #F1948A;
    font-size: 35px;
    margin-right: 50px;
}

.ckb:checked + .label_text:before {
    margin-top: 3px;
    content: "\f14a";
    font-family: "FontAwesome";
    display: inline-block;
    text-shadow: 1px 1px 3px #888888;
    animation: tick 150ms ease-in;
}

@keyframes tick {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.update-two {
    padding-top: 20px;
    line-height: 50px;
}

.customalert {
    margin-bottom: 0px;
    border-radius: 0px;
}

.updatetwo {
    padding-top: 10px;
}

.updateButton {
    background-color: #F1948A;
    color: #fff;
}

.updateError {
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
}
