.update-field {
    line-height: 28px;
    padding-left: 5px;
    width: 100%;
    border: 1px solid #ccc;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #566573;
    background-color: transparent;
    margin-bottom: 10px;
    outline: none;
}

.top {
    margin-bottom: 20px;
}

.disp-inline {
    display: inline;
}

.update-outer {
    background-color: #FFF;
    margin-bottom: 20px;
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 15px;
}

#date {
    outLine: none;
}

input:required {
    box-shadow: none;
}

input:invalid {
    box-shadow: 0 0 3px #fff;
}

label {
    cursor: pointer;
}

.custom-checkbox {
    display: none;
}

.checkbox-outer {
    display: flex;
    font-weight: normal;
}

.label_text {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888888;
    align-self: center;

}

.checkbox-text {
    font-size: 14px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #676a6c;
    margin: 0px;
    margin-top: 12px;
    letter-spacing: 1px;
}

.label_text:before {
    margin-top: 3px;
    content: "\f096";
    font-family: "FontAwesome";
    display: inline-block;
    width: 10px;
    color: #1ab394;
    font-size: 30px;
    margin-right: 30px;
}

.custom-checkbox:checked + .label_text:before {
    margin-top: 3px;
    content: "\f14a";
    font-family: "FontAwesome";
    display: inline-block;
    text-shadow: 1px 1px 3px #888888;
    animation: tick 150ms ease-in;
}

@keyframes tick {
    0% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.update-second-field {
    padding-top: 20px;
    line-height: 20px;
}

.custom-alert {
    margin-bottom: 0px;
    border-radius: 0px;
}

.update-second {
    padding-top: 10px;
}

.update-button {
    background-color: #1ab394;
    color: #fff;
    margin-bottom: 15px;
    font-size: 3vh;
}

.update-error {
    margin-top: 80px;
    text-align: center;
    font-size: 16px;
}

.ibox-upload-title {
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-bottom-style: solid;
    color: inherit;
    margin-bottom: 0;
    padding: 15px 15px 7px;
    min-height: 48px;
    border-bottom-width: 1px;
    color: #676a6c;
}

.select-height {
    height: 28px;
}

#progress-message {
    margin-bottom: 10px;
}
