@(resetPasswordForm: Form[ChangePasswordInformation])(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Reset Password") {

    <div class="row">
        <div class="col-md-4" ></div>
        <div class="col-md-4 profile" >
            <div class="container-fluid top-container"></div>
            <div class="login-outer reset-password-outer">
                <div class="col-md-12 login-first" > </div>
                <form id="reset-Password-Form" action="@routes.UsersController.changePassword()" method="POST">

                    @helper.CSRF.formField
                    <div class="col-md-12 login-second">
                        <div class="col-md-1" ></div>
                        <div class="col-md-10 " >
                            <input type="password" name="currentPassword" id="email" value='@resetPasswordForm.data.get("currentPassword")' placeholder="Current Password" required class="input-field"/>
                        </div>
                        <div class="col-md-1" ></div>
                    </div>
                    <div class="col-md-12 custom-textbox-alignment">
                        <div class="col-md-1" ></div>
                        <div class="col-md-10 " >
                            <input type="password" name="newPassword" id="password" value='' placeholder="Choose Password" required class="input-field"/>
                        </div>
                        <div class="col-md-1" ></div>
                    </div>
                    <div class="col-md-12 custom-textbox-alignment">
                        <div class="col-md-1" ></div>
                        <div class="col-md-10 " >
                            <input type="password" name="confirmPassword" id="confirmPassword" value='' placeholder="Confirm Password" required class="input-field"/>
                        </div>
                        <div class="col-md-1" ></div>
                    </div>

                    <div class="col-md-12 login-second login-four">
                        <div class="col-md-1" ></div>
                        <div class="col-md-10 ">
                            <input type="submit" value="Save" class="input-field login-button"/>
                        </div>
                        <div class="col-md-1" ></div>
                    </div>
                </form>
                <div class="col-md-4" ></div>
            </div>
            <div class="row login-error">
                @if(resetPasswordForm.hasGlobalErrors || resetPasswordForm("currentPassword").hasErrors || flash.get("message").nonEmpty || resetPasswordForm("newPassword").hasErrors || resetPasswordForm("confirmPassword").hasErrors) {
                    <div class="alert alert-danger fade in ">
                        @flash.get("message").fold("")(identity)
                        @resetPasswordForm("currentPassword").error.map(error => messages(error.message))
                        @resetPasswordForm("newPassword").error.map(error => messages(error.message))
                        @resetPasswordForm("confirmPassword").error.map(error => messages(error.message))
                        @resetPasswordForm.globalError.map(_.message)
                    </div>
                }
            }</div>
</div>
</div>
