@(forgotPasswordForm: Form[String])(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Forgot password") {

    <div class="row">
        <div class="col-md-4" ></div>
        <div class="col-md-4 profile" >
            <div class="container-fluid top-container"></div>
            <div class="login-outer forgot-password-outer">
                <div class="col-md-12 login-first" ></div>
                <form id="forgot-Password-Form" action="@routes.UsersController.generateForgotPasswordToken()" method="POST">

                    @helper.CSRF.formField

                    <div class="col-md-12 login-second" >
                        <div class="col-md-1" ></div>
                        <div class="col-md-10 " >
                            <input type="text" name="email" id="email" value='@forgotPasswordForm.data.get("email")' placeholder="Your Email" required class="input-field"/>
                        </div>
                        <div class="col-md-1" ></div>
                    </div>

                    <div class="col-md-12 login-second login-four" >
                        <div class="col-md-1" ></div>
                        <div class="col-md-10 " >
                            <input type="submit" value="Request password reset" class="input-field login-button"/>
                        </div>
                        <div class="col-md-1" ></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4" ></div>
    </div>

    <div class="row login-error">
        <div class="col-md-4" ></div>
        <div class="col-md-4" >
        @if(forgotPasswordForm.hasGlobalErrors || forgotPasswordForm("email").hasErrors || flash.get("message").nonEmpty) {
            <div class="alert alert-danger fade in ">
                @flash.get("message").fold("")(message => message)
                @forgotPasswordForm("email").error.map(error => messages(error.message))
                @forgotPasswordForm.globalError.map(_.message)
            </div>
        }
        </div>
        <div class="col-md-4" ></div>
    </div>
}
