@(loginForm: Form[LoginInformation])(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Login") {

    <div class="row ">
        <div class="header-container">
            <h2 style="margin-top:10px;">Login</h2>
        </div>
    </div>

    <div class="row login-error">
        <div class="col-md-4" ></div>
        <div class="col-md-4" >
            @if(loginForm.hasGlobalErrors || loginForm("email").hasErrors || flash.get("message").nonEmpty || flash.get("error").nonEmpty) {
            <div class="alert alert-danger fade in ">
                @flash.get("message").fold("")(message => message)
                @flash.get("error").fold("")(message => message)
                @loginForm("email").error.map(error => messages(error.message))
                @loginForm.globalError.map(_.message)
            </div>
            }
        </div>
        <div class="col-md-4" ></div>
    </div>

    <div class="row">

        <div class="col-md-2" ></div>
        <div class="col-md-8 sign-in-form">
            <div class="row login-outer">
                @if(flash.get("successMessage").nonEmpty) {
                    <div class="alert alert-success">
                        <strong>Success!</strong> @flash.get("successMessage").fold("")(message => message)
                    </div>
                }
                <div class="col-md-6 login-form">
                    <form id="loginForm" class='customForm' action="@routes.UsersController.loginUser()" method="POST">

                        @helper.CSRF.formField
                        <h4 style="margin-bottom:10px; margin-top:15px;">Sign in</h4>
                        <div style="margin-bottom:5px;" >
                            <label style="font-weight:none; float:left;">Email</label>
                            <input type="text" name="email" id="email" value='@loginForm.data.get("email")' placeholder="Email" required class="input-field no-outline reg"/>
                        </div>

                        <div style="margin-bottom:10px;" >
                            <label style="font-weight:none; float:left;">Password</label>
                                <input type="password" name="password" id="password" placeholder="Password" required class="input-field no-outline reg"/>
                        </div>

                        <div style="margin-bottom:20px;"  >
                            <button class="login-button" style="float:right" type="submit"><strong>Log in</strong></button>
                            <label style="float:left;"><a href="@routes.UsersController.renderForgotPassword()" class="forgot-password-link">
                                Forgot password?</a></label>
                        </div>
                    </form>

                    </div>
                <div class="col-md-6 register-mobile-div">
                    <h4 class="register-div">Not a member?</h4>
                    <p>You can create an account:</p>
                    <p class="text-center">
                        <a href="@routes.UsersController.register()"><i class="fa fa-sign-in" style="font-size:140px; color: #e5e6e7;"></i></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2" ></div>
    </div>
}
