@(loginForm: Form[LoginInformation])(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Login") {
    <div class="row">
        <div class="col-md-4" ></div>
        <div class="col-md-4 profile">
            <div class="container-fluid top-container"></div>
            @if(flash.get("successMessage").nonEmpty) {
                <div class="alert alert-success login-error">
                    <strong>Success!</strong> @flash.get("successMessage").fold("")(message => message)
                </div>
            }
            <div class="login-outer">
                <div class="col-md-12 login-first" > </div>

                <form id="loginForm" action="@routes.UsersController.loginUser()" method="POST">

                    @helper.CSRF.formField

                    <div class="col-md-12 login-second" >
                        <div class="col-md-1" ></div>
                        <div class="col-md-10 " >
                            <input type="text" name="email" id="email" value='@loginForm.data.get("email")' placeholder="Your Email" required class="input-field loge"/>
                        </div>
                        <div class="col-md-1" ></div>
                    </div>

                    <div class="col-md-12 login-second login-third">
                        <div class="col-md-1" ></div>
                        <div class="col-md-10 " >
                            <input type="password" name="password" id="password" placeholder="Your Password" required class="input-field loge"/>
                        </div>
                        <div class="col-md-1" ></div>
                    </div>

                    <div class="col-md-12 login-second login-four" >
                        <div class="col-md-1" ></div>
                        <div class="col-md-10 " >
                            <input type="submit" value="Login" class="input-field login-button"/>
                        </div>
                        <div class="col-md-1" ></div>
                    </div>
                </form>

                <div class="col-md-12 login-second forget-password">
                    <a href="@routes.UsersController.renderForgotPassword()" >forgot password?</a>
                    <div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" ></div>
        </div>
    </div>
    <div class="row login-error">
        <div class="col-md-4" ></div>
        <div class="col-md-4" >
        @if(loginForm.hasGlobalErrors || loginForm("email").hasErrors || flash.get("message").nonEmpty) {
            <div class="alert alert-danger fade in ">
                @flash.get("message").fold("")(message => message)
                @loginForm("email").error.map(error => messages(error.message))
                @loginForm.globalError.map(_.message)
            </div>
        }
        </div>
        <div class="col-md-4" ></div>
    </div>
}