@(users: List[ManageUserInfo], pages: Int, pageNumber: Int, keyword: Option[String])(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Manage User") {
    <div class="row">
        <div class="col-md-1" ></div>
        <div class="col-md-10 feedback-form-container manage-user-container-custom-margin">
            <div class="col-md-3"></div>
            <div class="col-md-6 search-bar" id="search-bar">
                <input class="search-text" autocomplete="off" name="email" id="search-text" placeholder="Search user by email"/>
            </div>
            <div class="col-md-3"></div>
            @if(flash.get("success").fold("")(identity).nonEmpty) {
                <div class="alert alert-success  alert-dismissable user-updated-message">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @flash.get("success").fold("")(identity)
                </div>
            }
            @if(flash.get("error").fold("")(identity).nonEmpty) {
                <div class="alert alert-danger  alert-dismissable user-updated-message">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @flash.get("error").fold("")(identity)
                </div>
            }
            <div class="col-md-12 all-users">
                <input value="@helper.CSRF.getToken.value" id="csrfToken" hidden/>
                <div class="col-md-12" id="found-user-details"></div>
                <div class="table-responsive manage-user-custom-table-margin">
                    <table class="table table-striped all-users-table">
                        <thead>
                            <tr>
                                <th class='col col-xs-4'>Edit</th>
                                <th class='col col-xs-4'>Email</th>
                                <th class='col col-xs-4'>Login</th>
                            </tr>
                        </thead>
                        <tbody id="user-found">
                        @for(user <- users) {
                            <tr>
                                @if(user.admin) {
                                    <td class="active-status"><span class="label label-warning">Admin</span></td>
                                } else {
                                    <td align="center">
                                        <a href="@routes.UsersController.getByEmail(user.email)" class="btn btn-default ">
                                            <em class="fa fa-pencil"></em>
                                        </a>
                                        <a href="@routes.UsersController.deleteUser(user.email)" class="btn btn-danger delete">
                                            <em class="fa fa-trash"></em>
                                        </a>
                                    </td>
                                }
                            <td>@user.email</td>
                                @if(user.active) {
                                    <td class="active-status"><span class="label label-info">Subscribed</span></td>
                                } else {
                                    <td class="suspended"><span class="label label-danger">Unsubscribed</span></td>
                                }
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-1" ></div>
    </div>
    <script src="@routes.Assets.versioned("javascripts/paginate.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/edituser.js")" type="text/javascript"></script>
    @pagination(pageNumber, pages, routes.UsersController.manageUser, keyword)
}
