@()(implicit request: Request[_])

    @main("Manage User"){
    <div class="row">
        <div class="col-md-2" ></div>
        <div class="col-md-8 feedback-form-container manage-user-container-custom-margin" >
            <div class="col-md-12 login-first test feedback-top-banner manage-user-custom-margin"></div>
            <div class="col-md-2"></div>
            <div class="col-md-8 search-bar" id="search-bar">
                <input class="search-text" onkeyup="slide(this.value)" autocomplete="off" name="email" id="search-text" placeholder="Search user by email"/>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12" id="found-user-details">

            </div>
        </div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/edituser.js")" type="text/javascript"></script>

    }
