@(userForm: Form[UserInformation])(implicit messages: Messages, request: Request[_], flash: Flash)

@main("Register") {

    <div class="row registration-error">
        <div class="col-md-4" ></div>
        <div class="col-md-4" >
            @if(userForm.hasGlobalErrors || userForm("email").hasErrors || userForm("password").hasErrors ||
            userForm("confirmPassword").hasErrors || !flash.isEmpty) {
            <div class="alert alert-danger fade in ">
                <ul>
                    @if(userForm.hasGlobalErrors) {
                    <li>@userForm.globalError.map(_.message)</li>
                    }
                    @if(userForm("email").hasErrors) {
                    <li>@userForm("email").error.map(error => messages(error.message))</li>
                    }
                    @if(userForm("password").hasErrors) {
                    <li>@userForm("password").error.map(error => messages(error.message))</li>
                    }
                    @if(userForm("confirmPassword").hasErrors) {
                    <li>@userForm("confirmPassword").error.map(error => messages(error.message))</li>
                    }
                    @if(!flash.isEmpty) {
                    <li>@flash.get("message").fold("")(message => message)</li>
                    }
                </ul>
            </div>
            }
        </div>
        <div class="col-md-4" ></div>
    </div>
    <div class="row">
        <div class="col-md-4" >

        </div>
        <div class="col-md-4 profile" style="padding-bottom: 10px;">
            <div>
                <div class="login-outer register-custom-position">
                    <form id="registrationForm" class='customForm' action="@routes.UsersController.createUser()" method="POST">

                        @helper.CSRF.formField

                        <div class="col-md-12 top-registration-field" >
                            <div class="col-md-1" ></div>
                            <div class="col-md-10 " >
                                <input type="text" value='@userForm.data.get("email")' name="email" id="email" placeholder="Knoldus Email" required class="input-field reg"/>
                            </div>
                            <div class="col-md-1" ></div>
                        </div>

                        <div class="col-md-12 login-second login-third">
                            <div class="col-md-1" ></div>
                            <div class="col-md-10 " >
                                <input type="password" value='@userForm.data.get("password")' name="password" id="password" placeholder="Choose Password" required class="input-field reg"/>
                            </div>
                            <div class="col-md-1" ></div>
                        </div>

                        <div class="col-md-12 login-second login-third">
                            <div class="col-md-1" ></div>
                            <div class="col-md-10 " >
                                <input type="password" value='@userForm.data.get("confirmPassword")' name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required class="input-field reg"/>
                            </div>
                            <div class="col-md-1" ></div>
                        </div>

                        <div class="col-md-12 login-second login-four" >
                            <div class="col-md-1" ></div>
                            <div class="col-md-10 loader-outer" >
                                <input type="submit" value="Register" class="input-field registration-button"/>
                            </div>
                            <div class="col-md-1" ></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4"></div>
    </div>

}
