@(resetPasswordForm: Form[ResetPasswordInformation])(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Forgot password") {

    <div class="row">
        <div class="col-md-4" ></div>

        <div class="col-md-4 profile" >
            <div class="default-top-margin">
                <div class="login-outer reset-password-outer">
                    <form id="reset-Password-Form" action="@routes.UsersController.resetPassword()" method="POST">

                        @helper.CSRF.formField
                        <input type='hidden' name='token' value="@resetPasswordForm.data.get("token")">
                        <div class="col-md-12 login-second">
                            <div class="col-md-1" ></div>
                            <div class="col-md-10 " >
                                <input type="text" name="email" id="email" value='@resetPasswordForm.data.get("email")' placeholder="Your Email" required class="input-field no-outline reg"/>
                            </div>
                            <div class="col-md-1" ></div>
                        </div>
                        <div class="col-md-12 custom-textbox-alignment">
                            <div class="col-md-1" ></div>
                            <div class="col-md-10 " >
                                <input type="password" name="password" id="password" value='' placeholder="Choose Password" required class="input-field no-outline reg"/>
                            </div>
                            <div class="col-md-1" ></div>
                        </div>
                        <div class="col-md-12 custom-textbox-alignment">
                            <div class="col-md-1" ></div>
                            <div class="col-md-10 " >
                                <input type="password" name="confirmPassword" id="confirmPassword" value='' placeholder="Confirm Password" required class="input-field no-outline reg"/>
                            </div>
                            <div class="col-md-1" ></div>
                        </div>

                        <div class="col-md-12 login-second login-four">
                            <div class="col-md-1" ></div>
                            <div class="col-md-10 ">
                                <input type="submit" value="Save" class="input-field login-button"/>
                            </div>
                            <div class="col-md-1" ></div>
                        </div>
                    </form>
                    <div class="col-md-4" ></div>
                </div>
            </div>
            <div class="row login-error">
                @if(resetPasswordForm.hasGlobalErrors || resetPasswordForm("email").hasErrors || flash.get("message").nonEmpty || resetPasswordForm("password").hasErrors || resetPasswordForm("confirmPassword").hasErrors) {
                    <div class="alert alert-danger fade in ">
                        @flash.get("message").fold("")(identity)
                        @resetPasswordForm("email").error.map(error => messages(error.message))
                        @resetPasswordForm("password").error.map(error => messages(error.message))
                        @resetPasswordForm("confirmPassword").error.map(error => messages(error.message))
                        @resetPasswordForm.globalError.map(_.message)
                    </div>
                }
            </div>
</div>
</div>
}
