@(resetPasswordForm: Form[ResetPasswordInformation])(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Forgot password") {

    <div class="row ">
        <div class="header-container">
            <h2 style="margin-top:10px;">Forgot Password</h2>
        </div>
    </div>

    <div class="row login-error">
    @if(resetPasswordForm.hasGlobalErrors || resetPasswordForm("email").hasErrors || flash.get("message").nonEmpty || resetPasswordForm("password").hasErrors || resetPasswordForm("confirmPassword").hasErrors) {
        <div class="alert alert-danger fade in ">
            @flash.get("message").fold("")(identity)
            @resetPasswordForm("email").error.map(error => messages(error.message))
            @resetPasswordForm("password").error.map(error => messages(error.message))
            @resetPasswordForm("confirmPassword").error.map(error => messages(error.message))
            @resetPasswordForm.globalError.map(_.message)
        </div>
    }
    </div>

    <div class="row">
        <div class="col-md-4" ></div>

        <div class="col-md-4 profile" >
                <div class="row login-outer">
                    <form id="reset-Password-Form" action="@routes.UsersController.resetPassword()" method="POST">

                        @helper.CSRF.formField
                        <input type='hidden' name='token' value="@resetPasswordForm.data.get("token")">
                        <div class="col-md-12 login-second">
                            <label class="reset-password-label">Email</label>
                                <input type="text" name="email" id="email" value='@resetPasswordForm.data.get("email")' placeholder="Your Email" required class="input-field no-outline reg"/>
                        </div>
                        <div class="col-md-12 login-second">
                            <label class="reset-password-label">Password</label>
                                <input type="password" name="password" id="password" value='' placeholder="Choose Password" required class="input-field no-outline reg"/>
                        </div>
                        <div class="col-md-12 login-second">
                            <label class="reset-password-label">Confirm Password</label>
                               <input type="password" name="confirmPassword" id="confirmPassword" value='' placeholder="Confirm Password" required class="input-field no-outline reg"/>
                        </div>

                        <div class="col-md-12 login-second">
                            <div class="col-md-4" ></div>
                            <div class="col-md-4 ">
                                <input type="submit" value="Save" class="input-field login-button"/>
                            </div>
                            <div class="col-md-4" ></div>
                        </div>
                    </form>
                    <div class="col-md-4" ></div>
                </div>

</div>
</div>
}
