@(userInfo: Form[UpdateUserInfo])(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Update User") {

    <div class="row login-error">
        <div class="col-md-4" ></div>
        <div class="col-md-4" >
            @if(userInfo.hasGlobalErrors || userInfo("email").hasErrors || userInfo("active").hasErrors || userInfo("password").hasErrors || !flash.isEmpty) {
            <div class="alert alert-danger fade in ">
                @flash.get("message").fold("")(message => message)
                @userInfo("email").error.map(error => messages(error.message))
                @if(userInfo("active").hasErrors) {
                invalid value for 'Active'
                }
                @userInfo("password").error.map(error => messages(error.message))
                @userInfo.globalError.map(_.message)
            </div>
            }
        </div>
        <div class="col-md-4" ></div>
    </div>

    <div class="row">
        <div class="col-md-4" ></div>
        <div class="col-md-4 update-outer ">
                <div class='col-md-12 feedback-card-author manage-user-container-email'><p>@userInfo.data.get("email")</p></div>
                <div class='col-md-12'>
                    @if(SessionHelper.isSuperUser){
                    <form class="CreateForm" action="@routes.UsersController.updateUserBySuperUser()" method="post">
                    } else {
                        <form class="CreateForm" action="@routes.UsersController.updateUser()" method="post">
                            }
                        @helper.CSRF.formField
                        <input type='hidden' name="email" value="@userInfo.data.get("email")"/>
                            <table class="table update-user-table">
                                <tbody class="update-user-table-column">
                        @if(SessionHelper.isSuperUser){
                                <tr>
                        <td>    <p class='manage-user-checkbox-text '>Admin</p> </td>
                        <td><label>
                            <input type='checkbox' @if(userInfo.data.get("admin").contains("true")) {
                            checked } name='admin' id='suspend' class='custom-checkbox' value='true' />
                            <span class='manage-user-label_text'></span>
                            </label> </td>

                                </tr>
                        }
                        <tr>
                        <td>    <p class='manage-user-checkbox-text'>Active</p></td>
                        <td> <label>   <input type='checkbox' @if(userInfo.data.get("active").contains("true")) {
                            checked } name='active' id='suspend' class='custom-checkbox' value='true' />
                            <span class='manage-user-label_text'></span></label></td>
                        </tr>
                        <tr>
                        <td>    <p class='manage-user-checkbox-text manage-user-checkbox-ban-text'>Ban</p></td>
                        <td> <label>    <input type='checkbox' @if(userInfo.data.get("ban").contains("true")) {
                            checked } name='ban' id='suspend' class='custom-checkbox' value='true' />
                            <span class='manage-user-label_text'></span></label></td>
                        </tr>
                        <tr>
                        <td>    <p class='manage-user-checkbox-text manage-user-checkbox-coreMember-text'>Core Member</p></td>
                        <td> <label>   <input type='checkbox' @if(userInfo.data.get("coreMember").contains("true")) {
                            checked } name='coreMember' id='suspend' class='custom-checkbox' value='true' />
                            <span class='manage-user-label_text'></span></label></td>
                        </tr>
                                </tbody>
                            </table>

                        <div class="col-md-12 login-third update-second">
                            <div class="col-md-1"></div>
                            <div class="col-md-10 password-bar">
                                <input type='password' name='password' id='password-text' placeholder="New Password" class="update-field password-text"/>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="col-md-12 update-second-field login-four">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 ">
                                <input type="submit" value="Update" class="input-field update-button"/>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </form>

            </div>
        </div>
    </div>
    <script src="@routes.Assets.versioned("javascripts/collapsemanagemenu.js")" type="text/javascript"></script>

}
