@()(implicit request: Request[_])

<script src="@routes.Assets.versioned("javascripts/feedbackform.js")" type="text/javascript"></script>

@main("Create Feedback Form") {
    <div class="row">
        <div class="col-md-3" >

        </div>
        <div class="col-md-6" >
            <div class="container-fluid" style="margin-top: 90px ;">
            </div>

            <div id="response">
            </div>
            <form id="feedbackform">

                <div id="questions">
                    <div class ="question-card first-question-card">
                        <div class="col-md-12 feedback-title" >
                            <input id="form-name" placeholder="Form Title" type="text">
                        </div>
                        <div id="question-0">
                            <div class="col-md-12">
                                <input class="card-questions" id="questionValue-0" placeholder="Question ?" type="text">
                            </div>

                            <br>

                            <div id="options-0">
                                <div class="row" id="option-0-0">
                                    <div class="col-md-1" > </div>
                                    <div class="col-md-10" >
                                        <label class="radio-button">
                                            <input type='radio' disabled name='radopt' id='' class='custom-checkbox' value='true'/>
                                            <span class="lab_text"></span>
                                            <p class="checkbox-text">
                                                <input id="optionValue-0-0" class="card-options" placeholder="Option" type="text"/>
                                            </p>
                                        </label>
                                    </div>
                                    <div class="col-md-1" ></div>
                                </div>
                            </div>

                            <div id="parent" style="width: 100% ;">
                                <div class="add-option" onclick="">
                                    <i class="fa fa-plus-circle" aria-hidden="true" onclick="addOption(this)" id="addOption-0-0" ></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

            <div id='parent' style='width: 100% ;'>
                <div class="add-question-button text-alignment" onclick="addQuestion()">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
            </div>
            <button type="button" onclick="createForm()" class="btn btn-primary btn-lg create-feedback-button">Create</button>
        </div>

        <div class="col-md-3" ></div>
    </div>
}
