@(updateFeedbackFormInformation: List[UpdateFeedbackFormInformation], pageNumber: Int, pages: Int)(implicit request: Request[_], messages: Messages, flash: Flash)

    @main("Manage Sessions") {

        <div class="modal fade" id="getByEmail-restricted" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-body getByEmail-warning-outer feedback-form-restricted">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="col-md-12 getByEmail-warning-title">
                            <i class="fa fa-bolt getByEmail-warning-sign" aria-hidden="true"></i>
                            <span class="getByEmail-warning-title-message">Form editing Restricted</span>
                        </div>
                        <div class="col-md-12 getByEmail-warning-message">
                            This Feedback form is currently being used by some active Session(s)</div>
                        <div class="col-md-12 getByEmail-warning-message getByEmail-warning_message">Please Try later!</div>
                        <button type="button" class="btn btn-default getByEmail-warning-close-btn" data-dismiss="modal">
                            Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-2" ></div>
            <div class="col-md-8 feedback-form-container" >
                <div class="col-md-12 login-first test feedback-top-banner">
                    <div class="col-md-8 info-feedback" ></div>
                    <div class="col-md-4 text-right new-feedback-button" >
                        <a href="@routes.FeedbackFormsController.feedbackForm()" class="btn btn-sm btn-primary btn-create-feed">
                            <i class="fa fa-plus" aria-hidden="true"></i> New
                        </a>
                    </div>
                </div>
                @if(!flash.isEmpty) {
                    @if(!flash.get("message").fold("")(identity).isEmpty) {
                        <div class="alert alert-success alert-dismissable flash-success fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Success!</strong> @flash.get("message").fold("")(identity)
                        </div>
                        <script src="@routes.Assets.versioned("javascripts/managefeedbackformupdate.js")" type="text/javascript"></script>
                    }
                    @if(!flash.get("info").fold("")(identity).isEmpty) {
                        <script src="@routes.Assets.versioned("javascripts/managefeedbackformupdate.js")" type="text/javascript"></script>
                    }
                    @if(!flash.get("errormessage").fold("")(identity).isEmpty) {
                        <div class="alert alert-danger alert-dismissable flash-failure fade in">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Error!</strong> @flash.get("errormessage").fold("")(identity)
                        </div>
                    }
                }

                @updateFeedbackFormInformation.map { feedbackFormInformation =>
                    <div class="col-md-4 feedback-div-outer">

                        <a href="@routes.FeedbackFormsController.update(feedbackFormInformation.id)">
                            <div class="feedback-form">
                                <div class="feedback-form-upper"></div>

                                <div class="feedback-form-lower">
                                @feedbackFormInformation.name
                                </div>
                            </div>
                        </a>

                    </div>
                }

                <div class="col-md-4 feedback-div-outer" ></div>
                <div class="col-md-4 feedback-div-outer" ></div>
                <div class="col-md-12 feedback-footer"> </div>
            </div>
            <div class="col-md-2" ></div>
        </div>
    }
