@(feedbackForm: FeedbackForm, json: String)(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Update Feedback Form") {
    <div class="row">

        <div class="col-md-3" ></div>

        <div class="col-md-6" >
            <div class="container-fluid top-container"></div>
            <div id="response"></div>

            <form id="feedbackform">

                <input value="@helper.CSRF.getToken.value" id="csrfToken" hidden/>

                <div id="questions">
                    <div class ="question-card first-question-card">
                        <div class="col-md-12 feedback-title" >
                            <input id="formId" value='@feedbackForm._id.stringify' type="hidden">
                            <input id="questionCount" value='@feedbackForm.questions.size' type="hidden">
                            <input id="existingCounts" value='@json' type="hidden">
                            <input id="form-name" placeholder="Form Title" value="@feedbackForm.name" type="text" class="FormName">
                            <a href="@routes.FeedbackFormsController.deleteFeedbackForm(feedbackForm._id.stringify)" class="fa fa-trash delete-form" aria-hidden="true"></a>
                        </div>

                        @feedbackForm.questions match {
                            case readOnlyQuestion :: editableQuestions => {
                                <div id="question-0">
                                    <div class="col-md-12">
                                        <input class="card-questions" id="questionValue-0" value="@readOnlyQuestion.question" placeholder="Question ?" type="text">
                                    </div>
                                    <br>
                                    <div id="options-0">
                                    @for(option <- readOnlyQuestion.options.indices) {
                                        <div class="row" id="option-0-@option">
                                        @if(option == 0) {
                                            <div class="col-md-1" > </div>
                                            <div class="col-md-3" >
                                                <label class="radio-button">
                                                    <input type='radio' disabled name='radopt' id='' class='custom-checkbox' value='true'/>
                                                    <span class="lab_text"></span>
                                                    <p class="checkbox-text">
                                                        <input id="optionValue-0-@option" value="@readOnlyQuestion.options(option)" class="card-options" placeholder="Option" type="text"/>
                                                    </p>
                                                </label>
                                            </div>
                                            <div class="col-md-1" ></div>
                                        } else {
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3">
                                                <label class="radio-button">
                                                    <input type="radio" disabled name="radopt" id="" class="custom-checkbox" value="true"/>
                                                    <span class="lab_text"></span>
                                                    <p class="checkbox-text">
                                                        <input id="optionValue-0-@option" value="@readOnlyQuestion.options(option)" class="card-options" placeholder="Option" type="text"/>
                                                    </p>
                                                    <a class="fa fa-times-circle delete-option-button" id="deleteOption-0-@option"></a>
                                                </label>
                                            </div>
                                            <div class="col-md-1" ></div>
                                        }
                                        </div>
                                    }

                                    </div>

                                    <div id="parent" class="add-option-parent">
                                        <div>
                                            <i class="fa fa-plus-circle add-option" aria-hidden="true" id="addOption-0-@{
                                                readOnlyQuestion.options.size - 1
                                            }"></i>
                                        </div>
                                    </div>

                                </div>
                            }
                            case Nil => {""}
                        }

                    </div>
                    @feedbackForm.questions match {
                        case readOnlyQuestion :: editableQuestions => {
                            @for(questionCount <- 1 to editableQuestions.size) {
                                @if(editableQuestions(questionCount - 1).questionType == "MCQ") {
                                    <div class="question-card" id="question-@questionCount">
                                        <label class="card-questions-label">
                                            <input id="questionValue-@questionCount" class="card-questions-other" value="@editableQuestions(questionCount - 1).question" placeholder="Question ?" type="text">
                                            <i id="deleteQuestion-@questionCount" class="fa fa-trash-o delQuestion"></i>
                                        </label>

                                        <div id="options-@questionCount">
                                        @for(option <- editableQuestions(questionCount - 1).options.indices) {
                                            <div class="row" id="option-@questionCount-@option">
                                            @if(option == 0) {
                                                <div class="col-md-1" > </div>
                                                <div class="col-md-10" >
                                                    <label class="radio-button">
                                                        <input type='radio' disabled name='radopt' id='' class='custom-checkbox' value='true'/>
                                                        <span class="lab_text"></span>
                                                        <p class="checkbox-text">
                                                            <input id="optionValue-@questionCount-@option" value="@editableQuestions(questionCount - 1).options(option)" class="card-options" placeholder="Option" type="text"/>
                                                        </p>
                                                    </label>
                                                </div>
                                                <div class="col-md-1" ></div>
                                            } else {

                                                <div class="col-md-1"></div>
                                                <div class="col-md-10">
                                                    <label class="radio-button">
                                                        <input type="radio" disabled name="radopt" id="" class="custom-checkbox" value="true"/>
                                                        <span class="lab_text"></span>
                                                        <p class="checkbox-text">
                                                            <input id="optionValue-@questionCount-@option" value="@editableQuestions(questionCount - 1).options(option)" class="card-options" placeholder="Option" type="text"/>
                                                        </p>
                                                        <a class="fa fa-times-circle delete-option-button" id="deleteOption-@questionCount-@option"></a>
                                                    </label>
                                                </div>
                                                <div class="col-md-1" ></div>
                                            }
                                            </div>
                                        }

                                        </div>

                                        <br>
                                        <div id="parent" class="add-option-parent"><div>
                                            <i class="fa fa-plus-circle add-option" aria-hidden="true" id="addOption-@questionCount-@{
                                                editableQuestions(questionCount - 1).options.size - 1
                                            }"></i>
                                        </div>
                                        </div>
                                    </div>
                                } else {
                                    <div class ='question-card question-card-comment' id="question-@questionCount">
                                        <div>
                                            <div class='col-md-12'>
                                                <input class='card-questions-other' id='questionCommentValue-@questionCount' placeholder='Question ?' value="@editableQuestions(questionCount - 1).question" type='text'>
                                                <i id = "deleteQuestion-@questionCount" class='fa fa-trash-o delQuestion'></i>
                                            </div>
                                            <br>
                                            <div id='options-@questionCount'>
                                                <div class='row' id='option-@questionCount-0'>
                                                    <div class='col-md-1' > </div>
                                                    <div class='col-md-10' >
                                                        <input type='text' id="optionValue-@questionCount-0" class='comment-section' value='Comments Goes Here!' disabled/>
                                                    </div>
                                                    <div class='col-md-1' ></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="parent" class="add-option-parent"><div>
                                            <label class="checkbox-outer">
                                                <input type='checkbox' id='questionMandatoryValue-@questionCount' class='custom-checkbox'@if(editableQuestions(questionCount - 1).mandatory) {checked = "checked"}/>
                                                <span class="pin_text"></span>
                                                <p class="pin-checkbox-text">Mandatory</p>
                                            </label>
                                        </div>
                                        </div>

                                    </div>
                                }
                            }
                        }
                        case Nil => {""}
                    }
                </div>
            </form>

            <div id="parent" class="add-question-parent">
                <div class="text-alignment add-question-button">
                    <div ><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                </div>
                <div id="" class="text-alignment">
                    <div id="" class="adjacent"><div class="notch">&#9650;</div>
                        <div id="addQuestionButton" class='add-type-option-common add-type-option-mcq'>
                            <i class="fa fa-list-ul"></i>
                            <p class="add-type-option-common_text">MCQ</p>
                        </div>
                        <div class='type-partition'></div>
                        <div id="addCommentButton" class='add-type-option-common add-type-option-comment'>
                            <i class="fa fa-comment"></i>
                            <p class="add-type-option-common_text add-type-option-comment_text">Comment</p>
                        </div>
                    </div>
                </div>

            </div>
            <button id="feedbackFormUpdate" type="button" class="btn btn-primary btn-lg create-feedback-button">Update</button>
        </div>

        <div class="col-md-3" ></div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/updatefeedbackform.js")" type="text/javascript"></script>

}
