@import actors._

@(emailsInfo: List[EmailInfo])

<p>Hi Knolders,</p>
<p>Knolx session(s) scheduled for today</p>
<ul>
    @for(info <- emailsInfo) {
        <li><strong>@{
            info.topic
        }</strong>
            by @{
            info.presenter
        } held on @{
                info.date
            }
        </li>
    }
</ul>
<p><Strong>Timings</Strong></p>
<p>Each session is of 30 minutes followed by 10 minutes QA session, hence
    Please plan your work accordingly</p>
<p>Thanks</p>
<p>Admin</p>
