@import actors._
@import java.util.Date

@(topic: String, date: Date)

<p>Hi,</p>
<p>Your Knolx/Meetup has been scheduled with following details</p>
<ul>
    <li>Topic: <strong>@topic</strong></li>
    <li>Date: @date</li>
</ul>
<p>It is recommended that the slide deck is prepared a week in advance and is shared with
    the Knolx organizer as soon as it is prepared. This will help in getting important feedback
    for any scope of improvements if required.
</p>

<p>Please ensure the following for your session</p>
<ul>
    <li>
        Knolx etiquette slide is added at the start of your slide deck.</br>
        Please make sure people understand its importance at the start of the session.
    </li>
    <li>
        Screen recording app is installed on your laptop.</br>
        For instructions <a href="https://sites.google.com/a/knoldus.com/wiki/development/knolx-session-form">Click Here</a>.
    </li>
    <li>
        Screen recording is started before starting your session.</br>
        Get in touch with the Knolx team for any assistance.
    </li>
    <li>
        Inform the Knolx organizer or the Knolx team if internet connectivity is required
        during the session.
    </li>
    <li>
        It'd help in audio recording if the questions are repeated before answering them.
        This is because collar MIC out is directly recorded.
    </li>
    <li>
        Don't forget to check out the feedback of your session (only visible to you and</br>
        captured anonymously) which will be available on Knolx Portal under</br>
        <a href="knolx.knoldus.com/reports/user">Knolx Reports</a> once the feedback form is closed.
    </li>
</ul>
<p>For any queries you can get in touch with the Knolx organizer.</p>
<p>Thanks</p>
<p>Admin</p>