@import actors._
@import utilities.DateTimeUtility

@(recommendationInfo: RecommendationInfo, date: String)

<p>Hi,</p>
<p>
    A recommendation has been given by <strong>@recommendationInfo.name</strong> with following details
</p>
<ul>
    @if(recommendationInfo.email.get.nonEmpty) {
        <li>Email -> @recommendationInfo.email.get</li>
    }
    <li>Topic -> @recommendationInfo.topic</li>
    <li>Description -> @recommendationInfo.recommendation</li>
    <li>Date -> @date</li>
</ul>

<p>
Please review the recommendation details and take the required action: <a href="http://knolx.knoldus.com/recommendation">Click Here</a>
</p>
