@import actors._

@(emailsInfo: List[EmailInfo], link: String)

<p>Hi All,</p>
<p>A gentle reminder, please share your feedback regarding the following session(s) latest by the <strong>
    end of the day</strong>.</p>
<ul>
    @for(info <- emailsInfo) {
        <li><strong>@{
            info.topic
        }</strong>
            by @{
            info.presenter
        } held on @{
                info.date
            }
        </li>
    }
</ul>
<p>Your feedback is valuable for us, so please cooperate and share your feedback <a href="@link">here.</a></p>
<p><Strong>If you have already shared the feedback kindly ignore this mail.</strong></p>
<p>Thanks</p>
<p>Admin</p>