@(categories :List[CategoryInfo])(implicit request: Request[_], flash : Flash)

@main("Add Category") {

<div class="container">
    <div class="row" style="margin-bottom: 100px;"></div>

    <div class="col-md-12">
        <div class="category-message">
            <div id="success-message" class=" alert alert-success fade in"
                 style="padding-top: 10px; display: none;"></div>
            <div id="wrong-message" class="alert alert-danger fade in" style="padding-top: 10px;  display: none;"></div>

        </div>
        <div class="panel-group">

            <div class="panel panel-default" style="margin-bottom: 40px">
                @if(SessionHelper.isSuperUser) {
                <div class="panel-heading panel-title">Add Category/Sub-Category</div>
                } else {
                <div class="panel-heading panel-title">Add Sub-Category</div>
                }
                <div class="panel-body">
                    <div class="row panel-content">
                        @if(SessionHelper.isSuperUser) {

                        <div class="col-md-6">
                            <input type="text" name="category" id="primary-category" placeholder="Add a category!">
                            <div style="padding-top: 10px; padding-bottom: 30px;">
                                <button type="button" id="add-primary-category" class="btn btn-success">Add</button>
                            </div>
                        </div>
                        }

                        <div class="col-md-6">
                            <input list="categories" id="search-primary-category" name="category"
                                   placeholder="Search a category!">
                            <datalist id="categories">
                                @for(category <- categories){
                                <option value="@category.categoryName">@category.categoryName</option>
                                }
                            </datalist>
                            <div style="padding-top: 10px;">
                                <input type="text" id="sub-category" name="subcategory"
                                       placeholder="Add a new Sub-Catgeory" required>
                            </div>
                            <div style="padding-top: 10px;">
                                <button type="button" id="add-sub-category" class="btn btn-success">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" style="margin-bottom: 40px;">
                @if(SessionHelper.isSuperUser) {
                <div class="panel-heading panel-title">Modify Category/Sub-Category</div>
                } else {
                <div class="panel-heading panel-title">Modify Sub-Category</div>
                }
                <div class="panel-body">
                    <div class="row panel-content">
                        @if(SessionHelper.isSuperUser) {
                        <div class="col-md-6">
                            <input list="categories" id="modify-primary-category" name="category"
                                   placeholder="Select a category!">

                            <datalist id="categories">
                                @for(category <- categories){
                                <option value="@category.categoryName">@category.categoryName</option>
                                }

                            </datalist>
                            <div>
                                <input id="new-primary-category" style="margin-top: 10px; display:none"
                                       placeholder="Modify primary category">
                            </div>
                            <div style="padding-top: 10px;">
                                <button type="button" id="modify-primary-category-btn" class="btn btn-info">Modify
                                </button>
                            </div>
                        </div>

                        }
                        <div class="col-md-6">
                            <div>
                                <!--<div id="holder">
                                    <input type="hidden" id="pair"/>
                                    <input type="text" id="modify-sub-category"/><button id="drop-btn" class="fa fa-caret-down" aria-hidden="true"></button>
                                    <div id="results-outer">
                                        &lt;!&ndash; results goes here &ndash;&gt;
                                    </div>
                                </div>-->
                                <div id="mod-holder">
                                    <input type="hidden" id="mod-pair"/>
                                    <input type="text" id="mod-datalist"/><button id="mod-drop-btn" class="fa fa-caret-down" aria-hidden="true"></button>
                                    <div id="mod-results-outer">
                                        <!-- results goes here -->
                                    </div>
                                </div>

                                <div style="padding-top: 10px;">
                                    <input id="new-sub-category" style="margin-bottom: 10px;display:none"
                                           placeholder="Modify sub-category">
                                </div>
                            </div>
                            <div>
                                <button type="button" id="modify-sub-category-btn" class="btn btn-info">Modify</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" style="margin-bottom: 40px">
                @if(SessionHelper.isSuperUser) {
                <div class="panel-heading panel-title">Delete Category/Sub-Category</div>
                } else {
                <div class="panel-heading panel-title">Delete Sub-Category</div>
                }
                <div class="panel-body">
                    <div class="row panel-content">
                        @if(SessionHelper.isSuperUser) {

                        <div class="col-md-6">
                            <input list="Categories" id="delete-primary-category" name="Catgeory"
                                   placeholder="Select a Category!">
                            <datalist id="Categories">
                                @for(category <- categories) {
                                <option value="@category.categoryName"> @category.categoryName</option>
                                }
                            </datalist>
                            <div id="category-sessions"></div>
                            <div style="padding-top: 10px;">
                                <button type="button" class="btn btn-danger" id="delete-primary-category-btn">Delete
                                </button>
                            </div>
                        </div>
                        }

                        <div class="col-md-6">

                            <div id="holder">
                                <input type="hidden" id="pair"/>
                                <input type="text" id="datalist"/><button id="drop-btn" class="fa fa-caret-down" aria-hidden="true"></button>
                                <div id="results-outer">
                                    <!-- results goes here -->
                                </div>
                            </div>

                            <div id="subcategory-sessions"></div>
                            <div style="padding-top: 10px;">
                                <button type="button" class="btn btn-danger" id="delete-sub-category-btn">Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-sub-category-modal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body update-warning-outer feedback-form-restricted">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="col-md-12 delete-warning-sign">
                    <i class="fa fa-trash update-warning-sign" aria-hidden="true"></i>
                    <span class="delete-warning-title-message">Confirm your submission</span>
                </div>
                <div class="col-md-12 update-warning-message">
                    Are you sure you want to delete it?
                </div>
                <button type="button" class="btn btn-danger delete-warning-btn" id="delete-sub-category-modal-yes-btn"
                        data-dismiss="modal">
                    Yes
                </button>
                <button type="button" class="btn btn-default delete-warning-btn" id="delete-sub-category-modal-no-btn"
                        data-dismiss="modal">
                    No
                </button>
            </div>
        </div>
    </div>
</div>

}
