<link rel="stylesheet" href="@routes.Assets.versioned("plugins/bootstrap.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("plugins/dropzone.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("plugins/basic.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("plugins/select2.min.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/header.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/graphs.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/update.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/create.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/sessiontable.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/managesessiontable.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/register.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/managefeedback.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/createfeedform.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/preview.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/feedbacks.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/manageuser.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/restrictfeedbackpopup.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/report.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/sessioncontent.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap-tagsinput.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/useranalytics.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/category.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/recommendation.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/footer.css")">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
