@(title: String)(content: Html)(implicit request: Request[_])

<!DOCTYPE html>
<html lang="en">

    <head>

        <title>@title</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="@routes.Assets.versioned("plugins/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/header.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/update.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/create.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/sessiontable.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/managesessiontable.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/register.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/managefeedback.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/createfeedform.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/preview.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/feedbacks.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/manageuser.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/restrictfeedbackpopup.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/report.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/sessioncontent.css")">
        <script src="@routes.Assets.versioned("plugins/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("plugins/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/header.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.JavascriptRouter.jsRoutes"></script>
    </head>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s); js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, "script", "twitter-wjs"));</script>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>



    <body>
        @header()
        <div class="container-fluid">
        @content
        </div>
        <script src="@routes.Assets.versioned("javascripts/loader.js")" type="text/javascript"></script>
    </body>

</html>
