@(pageNumber: Int, pages: Int, redirectUrl: (Int, Option[String]) => Call, keyword: Option[String] = None)

<div class="center">
    <div class="v-align v-align-mobile">
        <ul class="pagination pagination-lg">

            @(pageNumber, pages) match {
                case (currentPage, totalPages) if totalPages >= currentPage => {

                    @true match {
                        case value: Boolean if pages > 5 && pageNumber < 5 => {
                            @incrementIterator(1, 5, pageNumber, 0)
                            <li><a>...</a></li>
                            <li><a href=@redirectUrl(pages, keyword) >@pages</a></li>
                        }
                        case value: Boolean if pages <= 5 && pageNumber <= 5 => {
                            @incrementIterator(1, pages, pageNumber, 0)
                        }
                        case value: Boolean if pages > 5 && pageNumber >= 5 && pages == pageNumber => {
                            @decrementIterator(1, 5, pageNumber, pages)
                            <li><a>...</a></li>
                            <li @if(pageNumber == pages) {
                                class="active"}><a href="@redirectUrl(pages, keyword)" >@pages</a></li>
                        }
                        case value: Boolean if pages > 5 && pageNumber >= 5 && pageNumber < pages - 2 => {
                            @decrementIterator(0, 2, pageNumber, pageNumber)
                            @incrementIterator(1, 2, pageNumber, pageNumber)
                            <li><a>...</a></li>
                            <li><a href="@redirectUrl(pages, keyword)" >@pages</a></li>
                        }
                        case value: Boolean if pages > 5 && pageNumber >= 5 && pageNumber == pages - 2 => {
                            @decrementIterator(0, 3, pageNumber, pageNumber)
                            <li @if(pageNumber == pageNumber + 1) {
                                class="active"
                                }>
                                <a href="@redirectUrl(pageNumber + 1, keyword)" >@(pageNumber + 1)</a>
                            </li>
                            <li><a>...</a></li>
                            <li><a href="@redirectUrl(pages, keyword)" >@pages</a></li>
                        }
                        case value: Boolean if pages > 5 && pageNumber >= 5 && pageNumber > pages - 2 && pageNumber != pages => {

                            @decrementIterator(1, 4, pageNumber, pageNumber)
                            <li @if(pageNumber == pageNumber) {
                                class="active"
                                }><a href="@redirectUrl(pageNumber, keyword)" >@pageNumber</a>
                            </li>
                            <li><a>...</a></li>
                            <li><a href="@redirectUrl(pages, keyword)" >@pages</a></li>
                        }

                    }
                }
                case _ => {}
            }

        @incrementIterator(from: Int, till: Int, pageNumber: Int, offset: Int) = {
        @for(iterator <- from to till) {
            <li @if(pageNumber == offset + iterator) {
                class="active" }>
                <a href=@redirectUrl(offset + iterator, keyword)>@{
                    offset + iterator
                }</a>
            </li>
        }
        }

        @decrementIterator(from: Int, till: Int, pageNumber: Int, offset: Int) = {
        @for(iterator <- (from to till).reverse) {
            <li @if(pageNumber == offset - iterator) {
                class="active" }>
                <a href=@redirectUrl(offset - iterator, keyword)>@{
                    offset - iterator
                }</a>
            </li>
        }
        }

        </ul>
    </div>
</div>
