@(session: SessionInfo)(implicit flash: Flash, request: Request[_])

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

@session.youtubeLink.fold {

} { youtubeLink =>
<a target="_blank"
href=https://www.facebook.com/sharer/sharer.php?u=@youtubeLink>
Share Video on Facebook</a>
<a target="_blank"
   href="https://twitter.com/intent/tweet?url=@youtubeLink">
    Share on Twitter</a>
<a target="_blank"
   href="https://www.linkedin.com/shareArticle?mini=true&url=@youtubeLink">
    Share on LinkedIn</a>
}

@session.slideShareLink.fold {

} { slideShareLink =>
<a target="_blank"
   href=https://www.facebook.com/sharer/sharer.php?u=@session.slideShareLink>
    Share Slides on Facebook
</a>
<a target="_blank"
   href=https://twitter.com/intent/tweet?url=@session.slideShareLink>
    Share Slides on Twitter
</a>
<a target="_blank"
   href=https://www.linkedin.com/shareArticle?mini=true&url=@session.slideShareLink>
    Share Slides on Linkedin
</a>
}

</body>
</html>