@(sessionInfo: SessionInfo)(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Create Session") {

    <p class="information">
    @flash.get("message").fold("")(message => message)
    </p>

<form class="RegForm" action="@routes.SessionsController.updateSession()" method="post">
   <input name ="sessionId" type="hidden" value="@sessionInfo._id.stringify"></input>
   <input name ="date" type="date" value='@{new java.text.SimpleDateFormat("yyyy-MM-dd").format(sessionInfo.date)}'></input>
    <select name="session">
        <option value="session 1"  @if(sessionInfo.session == "session 1"){selected}>Session 1</option>
        <option value="session 2"  @if(sessionInfo.session == "session 2"){selected}>Session 2</option>
    </select>
    <input name="topic" type="text" value="@sessionInfo.topic"></input>

    <input type="checkbox" name="meetup" value="true" @if(sessionInfo.meetup == true){checked="checked"}> is Meetup?</input>

   <button type="submit">Save</button>

</form>

    }

