@()(implicit request: Request[_])

<script src="@routes.Assets.versioned("javascripts/feedbackform.js")" type="text/javascript"></script>
<div style="margin-top:300px;"></div>
@main("Create Feedback Form") {
    <div id="response"></div>
    <form id="feedbackform">

        <a onclick="addQuestion()">+</a>
        <br>
        <input id="formName" placeholder="Form Name" type="text">
        <br>

        <div id="questions">
            <div id="question-0">
                <input id="questionValue-0" placeholder="Question" type="text">
                <br>

                <div id="options-0">
                    <div id="option-0-0">
                        <input type="radio" disabled>
                        <input id="optionValue-0-0" placeholder="Option" type="text">
                    </div>

                    <a id="addOption-0-0" onclick="addOption(this)">Add option</a>
                </div>

                <br>
            </div>
        </div>

    </form>

    <a onclick="createForm()">Create</a>
}
