@(updateFeedbackFormInformation: List[UpdateFeedbackFormInformation], pageNumber: Int, pages: Int)(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Manage Sessions") {
    <div class="row">
        <div class="col-md-2" > </div>
        <div class="col-md-8 feedbackformcontainer" >

            <div class="col-md-12 login-one" style="margin-bottom:50px;" >
                <div class="col-md-8 infofeed" ></div>
                <div class="col-md-4 text-right newfeedbtn" >
                    <a href="@routes.FeedbackFormsController.feedbackForm()" class="btn btn-sm btn-primary btn-create-feed"><i class="fa fa-plus" aria-hidden="true"></i> New
                    </a>

                </div>
            </div>
            <div class="row">

                @updateFeedbackFormInformation.map { feedbackFormInformation =>

                    <div class="col-md-4 feedouters" >
                        <div class="feedform" onclick="window.location='@routes.SessionsController.update(feedbackFormInformation.id)';">
                            <div class="feedformupper">

                            </div>
                            <div class="feedformlower">
                                @feedbackFormInformation.name
                            </div>

                        </div>
                    </div>

                }
                <div class="col-md-4 feedouters" ></div>
                <div class="col-md-4 feedouters" ></div>
            </div>

        </div>
        <div class="col-md-2" ></div>
    </div>
}
