@(active: List[(FeedbackSessions, String)], expired: List[FeedbackSessions])(implicit request: Request[_], messages: Messages, flash: Flash)

@main("Feedbacks") {
    <div class="row">
        <div class="col-md-2" ></div>
        <div class="col-md-8 feedback-form-display-container">
            <input value="@helper.CSRF.getToken.value" id="csrfToken" hidden/>
            @if(active.nonEmpty) {
                @for((session, feedbackForm) <- active) {
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <div id="parent" class="feedback-response-sessions">
                                <div class="card-body">
                                @defining(if(session.meetup) "Meetup" else "Knolx") { sessionType =>
                                    <div class="col-md-12 feedback-card-topic custom-position">
                                        <div class="session-type"><span class="label @if(sessionType == "Knolx") {
                                            label-warning
                                        } else {
                                            label-success
                                        } custom-label-type">@sessionType</span></div>
                                        <p>@session.topic</p></div>
                                    <div class="col-md-12 feedback-card-by">from</div>
                                    <div class="col-md-12 feedback-card-author"><p>@session.email</p></div>
                                    <button type="button" id='@session.id' class="btn feedback-card-button fillFeedback" value='{"topic":"@session.topic","author":"@session.email","session":"@session.session","scheduled":"@session.date","expire":"@session.expirationDate","sessiontype":"@sessionType"}'>
                                        Fill Out</button>
                                    <input type="hidden" id='@session.id-form' value ='@feedbackForm'/>
                                    <div class="col-md-12 feedback-card-author more" ><p id='details-@session.id' class="getKnolxDetailsActive">
                                        More...</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
            <div class="modal fade" id="feedbackAttendance" role="dialog">
                <div class="modal-dialog modal-sm feedbackAttendance-dialog">
                    <div class="modal-content" id="feedbackAttendance-content">
                        <div class="modal-header" id="feedbackAttendance-header">
                            <button type="button" class="close" data-dismiss="modal" id="feedbackAttendance-close">X</button>
                        </div>
                        <div class="modal-body" id="feedbackAttendance-body">
                            <div class= "text-center" id="feedbackAttendance-centerBody" >
                                <button type="attend" id="@session.id" class="btn btn-success feedbackAttendance-button" value='{"topic":"@session.topic","author":"@session.email","session":"@session.session","scheduled":"@session.date","expire":"@session.expirationDate","sessiontype":"@sessionType"}'>Attend</button>
                                <br>
                                <br>
                                <button type="did not attend" id="@session.id" class="btn btn-danger feedbackAttendance-button" value='{"topic":"@session.topic","author":"@session.email","session":"@session.session","scheduled":"@session.date","expire":"@session.expirationDate","sessiontype":"@sessionType"}'>Did Not Attend</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="modal fade" id="feedbackAttendance" role="dialog">
                        <div class="modal-dialog modal-sm feedbackAttendance-dialog">
                            <div class="modal-content" id="feedbackAttendance-content">
                                <div class="modal-header" id="feedbackAttendance-header">
                                    <button type="button" class="close" data-dismiss="modal" id="feedbackAttendance-close">X</button>
                                </div>
                                <div class="modal-body" id="feedbackAttendance-body">
                                    <div class= "text-center" id="feedbackAttendance-centerBody" >
                                        <button type="attend" id="@session.id" class="btn btn-success feedbackAttendance-button attend-button" value='{"topic":"@session.topic","author":"@session.email","session":"@session.session","scheduled":"@session.date","expire":"@session.expirationDate","sessiontype":"@sessionType"}'>Attend</button>
                                        <br>
                                        <br>
                                        <button type="did not attend" id="@session.id" class="btn btn-danger feedbackAttendance-button didnotattend-button" value='{"topic":"@session.topic","author":"@session.email","session":"@session.session","scheduled":"@session.date","expire":"@session.expirationDate","sessiontype":"@sessionType"}'>Did Not Attend</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                }
            } else {
                @if(expired.nonEmpty) {
                    @for(expiredSession <- expired) {
                        <div class="col-md-4">
                            <div class="col-md-12">
                                <div id="parent" class="feedback-response-sessions">
                                    <div class="card-body">
                                    @defining(if(expiredSession.meetup) "Meetup" else "Knolx") { sessionType =>
                                        <div class="session-content">
                                            <div class="col-md-12 feedback-card-topic custom-position expired">
                                                <div class="session-type"><span class="label label-default custom-label-type">@sessionType</span></div>
                                                <p>@expiredSession.topic</p></div>
                                            <div class="col-md-12 feedback-card-by">by</div>
                                            <div class="col-md-12 feedback-card-author expire-color"><p>@expiredSession.email</p></div>
                                        </div>
                                        <button type="button" class="btn  feedback-card-expire-button expired">
                                            Expired</button>
                                        <input type="hidden" id='@expiredSession.id' value='{"topic":"@expiredSession.topic","author":"@expiredSession.email","session":"@expiredSession.session","scheduled":"@expiredSession.date","expire":"@expiredSession.expirationDate","sessiontype":"@sessionType"}'/>
                                        <div class="col-md-12 feedback-card-author more"><p id='details-@expiredSession.id' class="getKnolxDetailsExpired">
                                            More...</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    }
                } else {
                    <div class="empty-reports"><i class="fa fa-comments feedback-notfound-color" aria-hidden="true"></i>
                        <p class="empty-reports_text">No feedback available to fill!</p>
                    </div>
                }
            }
            <div class="col-md-12 feedback-footer"></div>
        </div>
        <div class="col-md-2" ></div>
    </div>

    <div class="modal fade" id="sessionDetailInfo" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header session-modal-title" id="feedback-info-modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="session-topic" ></h4>
                </div>
                <div class="modal-body session-information-modal">
                    <table class="table table-striped session-table">
                        <tbody class="session-details">
                            <tr>
                                <td>Presenter<br/><span class="session-card-values" id="author" ></span></td>
                            </tr>
                            <tr>
                                <td>Session<br/><span class="session-card-values" id="session"></span></td>
                            </tr>
                            <tr>
                                <td>scheduled<br/><span class="session-card-values" id="scheduled"></span></td>
                            </tr>
                            <tr>
                                <td>Expiration<br/><span class="session-card-values" id="expire"></span></td>
                            </tr>
                            <tr>
                                <td>Type<br/><span class="session-card-values" id="sessiontype"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer session-modal-footer">
                    <button type="button" class="btn btn-default session-modal-footer-btn" id='session-modal-footer-btn' data-dismiss="modal">
                        Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/todayssessioninfo.js")" type="text/javascript"></script>


    <div class="modal fade" id="session-form-info" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content feedback-response-outer">
                <div class="modal-body" id='feedback-form-space'>
                    <div class="row" id="display-feed-form">
                        <div class="col-md-4 feedback-response-details" >
                            <div class="modal-body session-information-modal form-session-information-modal">
                                <table class="table table-striped session-table">
                                    <tbody class="session-details">
                                        <tr>
                                          <td>Presenter <br/> <span class="session-card-values" id="form-author"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Session<br/><span class="session-card-values" id="form-session"></span></td>
                                        </tr>
                                        <tr>
                                            <td>scheduled<br/><span class="session-card-values" id="form-scheduled"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Expiration<br/><span class="session-card-values" id="form-expire"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Type<br/><span class="session-card-values" id="form-sessiontype"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-8 feedback-response-form" >
                            <input type="hidden" value="" id="current-form"/>
                            <input type="hidden" value="" id="current-session"/>
                            <div id="feedback-response-form"></div>
                            <div class="alert alert-danger" id="mandatory-warning">
                                Please Respond to All Mandatory questions.
                            </div>
                            <div id="parent" class="feedback-response-submit">
                                <button type="button" class="btn btn-primary btn-lg submit-form-button submitFeedbackForm">
                                    Save</button>
                            </div>
                        </div>
                    </div>
                    <div id="feed-message"></div>
                </div>
            </div>


        </div>
    </div>
}

